[2016-04-08 19:52] MarcinOrlowski opened #80 "README lacks "requirements" section"
README seem to lack "requirements" section (like min. PHP version, extensions etc).

[2016-04-08 20:29] MarcinOrlowski opened #81 "Lack of tests?"
I just need a router for one of my project and Laravel compatibility of yours is a 'pro' for me, so I am going to evaluate your project, however I see no single test in here which frankly speaking scares me away a bit. How do you test your router?

[2016-04-08 20:57] MarcinOrlowski opened #82 "Documentation issues"
README says that to install simple-php-router one needs to

    composer require pecee/framework

but that installs whole framework of yours and router. Shouldn't it rather be just router?:

    composer require pecee/simple-router

Also sample code shows

    use \Pecee\SimpleRouter;

but it it will not work, unless changed to

    use \Pecee\SimpleRouter\SimpleRouter;

Also the whole sample is n

[2016-04-08 22:17] MarcinOrlowski opened #83 "Nested groups does not work"
[code]

Route `/v1` works, but `/v1/system` does not.

[2016-04-08 22:34] MarcinOrlowski opened #84 "Groups with placeholders cause parameter shift"
Not really sure if this is a bug or feature or side effect but this is somehow error prone:

[code]

as requesting `/v1/AAA/BBB` will result in `Got AAA` which is not what is expected.

[2016-04-08 23:31] MarcinOrlowski opened #85 "Unable to easily disable CSRF checks"
There's no easy way to disable CSRF check but to write dummy CsrfVerifer implementation as     neither SimpleRouter's csrfVerifier() nor RouterBase's `setBaseCsrfVerifier()` accept `null`, even if rest of the code checks for `null`.

[2016-04-09 05:01] skipperbent commented on #82
Hey, thanks for the feedback - really appreciate it.. i'll fix this right away.

I'm sorry about the documentation. It's has been done on-the-fly and is really not that great, it's been a task of mine to update it and make it nicer, ever since I started the project.

It does seem like the `ExceptionHandler` feature never really got implemented or somehow got removed. I've fixed this in the next re

[2016-04-09 05:05] skipperbent commented on #81
I understand - the project is faily new, so the focus has really been on getting the features right and get it up and running - before implementing the tests. One can argue that the approach isn't right, but it did get us this far.

So far I've been the only one working on the project, so I really enjoy getting feedback. In regards to the tests i'll be adding this in the upcoming releases. I've al

[2016-04-09 05:46] skipperbent commented on #83
This bug seems only to affect `/` urls in nested groups. Try to change the nested groups route url to `/something-else`.

Theres a fix for this bug in the next release.

[2016-04-09 05:56] skipperbent commented on #84
This is because the parameters are delivered in order and not by name.. I like the idea though, so i'll fix this in the next release.

So in your example it would be

[code]

And if it's nullable

[code]

[2016-04-09 06:01] skipperbent commented on #85
Actually I noticed this aswell yesterday - it caused some issue in projects where CSRF was not necessary.

So in the next release `RouterBase` will no longer instantiate a CsrfVerifier per default. If someone want to use the CsrfVerifier feature, they'll need to add it themselve by using `setBaseCsrfVerifier` in their `routes.php` etc.

[2016-04-09 06:08] skipperbent commented on #80
Thanks!

This will be added to both `composer.json` and the documentation in next release.

[2016-04-09 06:38] skipperbent commented on #84
Also its worth mentioning that groups does not support arguments in their functions, instead they will be passed to the routes inside.

The reason for this is that every group has to be rendered on each page load so the router knows every URL possible for all routes; this happens so you can get the url for each route (for example via: `url('my.route.alias')`), even those that aren't loaded, for li

[2016-04-09 08:07] skipperbent commented on #80
This is fixed in version 1.7.

Please don't hesitate making issues if you experience any problems, have any ideas or features you'd like implemented.

[2016-04-09 08:08] skipperbent commented on #83
This is fixed in version 1.7.

I've also added a test for nested groups.

[2016-04-09 08:08] #83 closed

[2016-04-09 08:10] skipperbent commented on #85
This is fixed in version 1.7 - please read the release notes if you like to implement the CSRF security feature:

CSRF-token are no longer initiated by `RouterBase`. That means that the router will have no CSRF security enabled by default. To add this functionality, please add this line to your custom router-class or `routes.php` file:

[code]

[2016-04-09 08:10] #85 closed

[2016-04-09 08:12] skipperbent commented on #82
Status so far v 1.7:

- ExceptionHandler feature implemented.
- Documentation updated.

Please reopen another ticket if you still experience issues with the loading Middlewares.

Thanks for the feedback 👍

[2016-04-09 08:12] #82 closed

[2016-04-09 08:52] MarcinOrlowski commented on #84
I see couple of usage patterns where this is a feature not a bug, yet what I miss here to use this intentionally is lack of thing similar to i.e. Laravel's `Input`. Still, this is not crucial really at the moment so it may stay on TODO list for while w/o much harm

[2016-04-09 08:58] MarcinOrlowski commented on #80
I think requirements shall mention mod_rewrite as well with example of `.htaccess` like:

[code]

also I do not see the point of suggested separation of routes from index.php file. There's clearly no benefits from my perspective and I'd consider updating README

Also I lack PHPDocs and info on crucial things like how read Request in Controller for example.

[2016-04-09 09:31] skipperbent commented on #84
I totally understand what you mean. I think the reason it doesn't have that feature is because the projects i've used the router in has gotten their own way of implementing ways of getting request parameters.

But I guess the `Request` class could have some way of retrieving input parameters and it definitely would make sense - unfortunately it doesn't at the moment. It's noted and i'll implement

[2016-04-09 09:36] skipperbent commented on #80
Well the mod_rewrite and .htaccess only apply if you use Apache as a webserver. But i guess it should state something like rewriting should be enabled and all requests should be redirected to index.php. Sorry in my tiny reptile brain that's just common sense; but I totally agree with you :)

Maybe an example project would make sense?

No you're right. The routes.php and generally that section coul

[2016-04-15 21:59] skipperbent commented on #84
@MarcinOrlowski I've moved some `Input` related classes from my Framework to the router to meet the functionality you've requested about parameters.

Please see the section "Use the Input class to manage parameters" section in the documentation:
https://github.com/skipperbent/simple-php-router#using-the-input-class-to-manage-parameters

[2016-06-02 14:30] printempw opened #104 "Route with parameters don't work"
Here is my code:

[code]

When I access "/", it works fine. But when I access the URL "http://localhost/shit", it will throw an exception:

What's the problem?

[2016-06-02 17:46] skipperbent commented on #104
You need to make the route optional by adding a ? `{foo?}` or place it above your other `/` route as that match before the other one is rendered.

[2016-06-02 17:47] skipperbent commented on #104
[code]

or

[code]

Should do the trick.

[2016-06-03 09:48] printempw commented on #104
I have tried both 2 solutions you gived, but neither of them work.
just the same problem :(

[2016-06-03 13:52] skipperbent commented on #104
@printempw

That's really weird, I've just tried creating a project simular to yours and I got it working with the rules from your first post.

http://recordit.co/6BfYhXrHV1

1. What webserver are you using and is rewriting enabled?
2. What PHP version are you using? (I've tested 5.6 + 7.0)
3. Can you make your project work like mine (with the same parameters?).

If you are using Apache as a webse

[2016-06-03 14:04] printempw commented on #104
I'm using Nginx 1.8.0 & PHP 5.6.15. Of course rewriting is enabled and working, otherwise I won't get RouterException but a HTTP 404 error.

And it's confusing that other routing libraries work well in the same environment, e.g. NoahBuscher/Macaw

Here's my nginx config:

[code]

[2016-06-03 14:17] printempw commented on #104
Is there any difference between Nginx and Apache?
I will try it again with Apache.

[2016-06-03 14:17] skipperbent commented on #104
Yeah - it's really weird, but don't worry we'll get it working on your environment too.

I'm also using the project on a production nginx (bookandbegin.com) - so it is fully compatible, we just need to find out what's happening in your case.

**This is the nginx configuration i'm using:**

I've added same route to the bookandbegin.com project and as you can see, it catches the param fine:
https://

[2016-06-03 14:19] skipperbent commented on #104
It should give you the same results - the only difference between nginx and Apache is, that on Apache you provide the rewrite-configuration in a file in the project itself - where on nginx you have to do it in the configuration.

It sure is weird the problem you are facing.. I'll try to setup an nginx with simular configuration to yours and see what happens.

[2016-06-03 14:23] printempw commented on #104
Thanks a lot.
It seems that the rewrite rule itself is same.
It's really weird.. I will try to deploy the project to another machine to see what will happen.

[2016-06-03 14:32] skipperbent commented on #104
@printempw

No problem - please keep me notified if you find the source of the problem.

Remember that parameters with special characters like `-` or `_` only will be catched if you change the regular-expression for you parameter like this:

[code]

The default regex is: `[a-z0-9]+` as far as I remember.

[2016-06-04 04:57] printempw commented on #104
Oh.. it's really weird.

I deployed the test on my VPS, and it worked fine, all parameters were catched perfectly.
http://work.prinzeugen.net/wtf

But the same test on my local environment still keeps throwing 'Route not found' exceptions. How could it be?

[2016-06-04 05:14] printempw commented on #104
Umm.. I required pecee/simple-router again with composer just now, and it did the trick. The route pattern ‘/{foo}’ catches parameter fine now.

But why the uri "/admin.json" couldn't be dispatched to the route pattern "/{foo}.json" correctly? It just throws exceptions like this:

[code]

Is there any support for the routes which have parameters in middle of string like "/{foo}.json"?

[2016-06-04 13:19] skipperbent commented on #104
@printempw

Coooool! I'm really glad you got it working! Nice work!

Unfortunately parameters with that style weren't supported in versions below 1.7.4.0 - but thanks to you I've implemented support for that as-well - so please do a `composer update` to update to the latest version (1.7.4.0) which supports that functionality.

Please let me know if you experience any issues with the release and th

[2016-06-05 01:17] printempw commented on #104
Oh yeah, thank you!
I've updated to v1.7.4.2, and everything works perfectly now!
Awesome! (*ﾟ∇ﾟ)

[2016-06-05 01:17] #104 closed

[2016-06-05 01:22] skipperbent commented on #104
@printempw

Great!

I'm happy to hear!

Please let me know if you experience any issues etc.

\- Simon

[2016-08-27 12:40] rjolive24 opened #109 "Trying to use your library but didnt get work properly."
Hello

When i placed your library in my project . and set routes . Every time i got route not found error.
Can you please give proper information for initialize and setup it.

Thank you

[2016-09-01 11:24] skipperbent commented on #109
Hi,

What kind of webserver are you using? You need to make sure that url-rewriting is enabled and pointing to the php file which initializes the routing (usually the index.php).

I will update the documentation to clearly define how to setup url-rewriting for both Apache and Nginx servers.

[2016-09-11 13:52] rjolive24 commented on #109
Hello sir,

I tried your library in apache in localhost. But still its not working..
Getting some issues with code. Htaccess rule is working fine. But found the
issue with callback methods. When i set controller with namespace it's
always give me 404 error.

Warm Regards.
Rj

On Thu, Sep 1, 2016 at 4:54 PM, Simon Sessingø <notifications@github.com>
wrote:

[2016-09-11 15:01] skipperbent commented on #109
All right sounds like the setup you are using should be working then.

If you can provide some of the code which you are experiencing issues with then I can perhaps help you out :)

You should get a routerexception and not an Apache 404 if the namespace or path is not found unless you've setup a error handler to handle that.

- simon

[2016-09-26 12:42] skipperbent commented on #109
Hello again,

We've included a demo-project in the project and some instructions on how to get started.
https://github.com/skipperbent/simple-php-router/tree/master/demo-project

Please create a new issue if you have further questions or problems.

[2016-09-26 12:42] #109 closed

[2016-09-26 12:43] skipperbent commented on #80
Hello again,

We've included a demo-project in the project and some instructions on how to get started, including documentation on server requirements and url-rewriting.

https://github.com/skipperbent/simple-php-router/tree/master/demo-project

Please create a new issue if you have further questions or problems.

[2016-09-26 12:43] #80 closed

[2016-09-26 12:43] skipperbent commented on #81
Test has been added and will continue to be added with each new release.

Thanks for your feedback.

[2016-09-26 12:43] #81 closed

[2016-09-26 12:44] skipperbent commented on #84
I'm closing this issue. Please reopen or create a new issue if you are still experiencing problems or have further questions or ideas.

Appreciate your feedback.

[2016-09-26 12:44] #84 closed

[2016-10-24 13:54] kelaskakap opened #115 "ask - json support"
Hi,
could you add json support for post/put/patch/delete?

Thank you.

[2016-10-25 16:27] skipperbent commented on #115
Can you please specify what you mean by json support?

If you want your urls to contain something like `/api/posts.json` you can do so by using the `match` option and create your own regular expression match for the entire url.

**Pseudo example:**

[code]

[2016-11-05 20:43] skipperbent commented on #115
Closing due to no replies. Please open again if you have any further questions.

[2016-11-05 20:43] #115 closed

[2016-11-07 04:51] skipperbent opened #125 "Create better documentation"

[2016-11-08 14:16] kelaskakap opened #126 "accept body with json format (post/put/patch/delete)"
Hi, sorry, I just noticed yesterday. So the previous issue I addressed https://github.com/skipperbent/simple-php-router/issues/115

I want to send body with json format from post method. something like:
`
$.ajax {
url: /book/insert
method: 'post',
type: 'json'
}
`
I want to make `/book/insert` endpoint with post method and able to accept body with json format.

[2016-11-08 14:36] skipperbent commented on #126
No problem. You can easily do that.

1. Add a rule to your `routes.php` etc.

[code]

Though I would recommended you used the `resource` method instead if you are creating REST functionality - it would however conflict with the url given in your example:

[code]

In your controller you can use the `response` function to output json:

[code]

-- also --

You could create a json exception handler to

[2016-11-08 16:27] skipperbent commented on #126
Also version 1.8.0.8 and above supports gettings request data from json like this

[code]

[2016-12-19 04:25] kelaskakap commented on #126
thank you :)

[2016-12-19 09:10] skipperbent commented on #126
No problem - i'll close this ticket for now. Please open another ticket if you've got any further questions or issues :)

[2016-12-19 09:10] #126 closed

[2017-01-12 10:22] Voronov opened #206 "problem slug contain dashes"
Hi. Thanks  for your work.
I have an error if slug contain dashes
Fatal error: Uncaught exception 'Pecee\SimpleRouter\Exceptions\NotFoundHttpException' with message 'Route not found
I tried to work with  method where, but I have problem even with code from example.
SimpleRouter::get('/user/{name}', function ($name) {
    //
})->where(['name', '[A-Za-z]+']);
shows
Fatal error: Allowed memory size o

[2017-01-19 17:45] skipperbent commented on #206
Hello @Voronov ,

Thank you for your feedback.

The issue has been resolved in version 2.6.4.

If you are unable to update, you can use the `setWhere` method instead, as the `where` alias-method was broken in the previous release, causing an infinite loop.

Please re-open the ticket if the new release does not fix your issue and/or if you have any further questions.

/Simon

[2017-01-19 17:45] #206 closed

[2017-01-19 17:45] #125 closed

[2017-02-06 09:00] AybimYazilim opened #211 "subfolder problem"
hi,

i wanna use this in subfolder in my host.
but there is no auto detect system.

example
adress : localhost/AybimCms/admin
router :
SimpleRouter::group(['prefix' => 'AybimCms/admin/'], function () {
SimpleRouter::get('/', 'Home@index')->name('adminpanel');
}

then i want to redirect " localhost/AybimCms/admin"  with url('adminpanel') function but redirect to "localhost/admin"

how can i fix it

[2017-02-07 13:57] #211 closed

[2017-02-09 08:30] skipperbent commented on #211
Hello.

You can easily redirect like this:

[code]

Alternatively you could create a middleware and put the authentication logic in there.

Example:

[code]

And then check for correct authentication within your middleware - and redirect if it was unsuccessful.

[code]

Now you know that the user will always be authenticated when hitting `/AybimCms/admin` and the user-data will always be available

[2017-02-12 14:54] AybimYazilim commented on #211
Thanks a lot for ur support

Have a nice day

[2017-02-22 13:13] AybimYazilim opened #224 "Resource problem.."
SimpleRouter::resource('/m1', 'KurumsalController')->name('kurumsal'); // Kurumsal
        SimpleRouter::resource('/m2', 'HizmetController')->name('hizmet'); // Hizmetler
        SimpleRouter::resource('/m3', 'ProjeController')->name('proje'); // Projeler
        SimpleRouter::resource('/m4', 'ReferansController')->name('referans'); // Projeler
        SimpleRouter::resource('/m5', 'BlogController

[2017-02-22 18:55] skipperbent commented on #224
I could imagine that `/m1` matches `/m11` before it has the chance to check `/m11`.

Until this bug is fixed, I think you can solve it for now by moving

`SimpleRouter::resource('/m11', 'DoktorController')->name('doktor'); // Doktorlar`

before this route

`SimpleRouter::resource('/m1', 'KurumsalController')->name('kurumsal'); // Kurumsal`

Like this:

[code]

[2017-02-22 19:12] skipperbent commented on #224
@AybimYazilim I can't simulate the same error on the latest version (3.x). Which version are you using?

[2017-02-23 16:02] AybimYazilim commented on #224
I am using v3.1 but i still see this error.

This bug fixed moving this

SimpleRouter::resource('/m11', 'DoktorController')->name('doktor'); // Doktorlar

before this route

SimpleRouter::resource('/m1', 'KurumsalController')->name('kurumsal'); // Kurumsal

[2017-02-23 17:49] skipperbent commented on #224
@AybimYazilim

Strange.. I'll have to look into this bug in debt - but until it's fixed, keep an eye for urls with similar paths if you experience any similar errors.

I will keep this issue open until the issue has been resolved.

Thanks for your feedback!

[2017-02-24 19:48] AybimYazilim commented on #224
Thanks for your support

[2017-03-01 02:42] skipperbent commented on #224
This bug has been resolved in the latest release 3.2.0.

Please ensure to read the release notes before updating, available here:
https://github.com/skipperbent/simple-php-router/releases

[2017-03-01 02:42] #224 closed

[2017-03-05 10:16] AybimYazilim opened #227 "Resources Problem in v3.2.0"
SimpleRouter::resource('/m11', 'DoktorController')->name('doktor'); // Doktorlar
        SimpleRouter::resource('/m1', 'KurumsalController')->name('kurumsal'); // Kurumsal
        SimpleRouter::resource('/m2', 'HizmetController')->name('hizmet'); // Hizmetler
        SimpleRouter::resource('/m3', 'ProjeController')->name('proje'); // Projeler
        SimpleRouter::resource('/m4', 'ReferansControll

[2017-03-05 16:13] skipperbent commented on #227
Hi @AybimYazilim

This issue has been resolved in the latest version (3.2.1), available here:
https://github.com/skipperbent/simple-php-router/releases/tag/3.2.1

Thanks for reporting the issue!

/ Simon

[2017-03-05 16:13] #227 closed

[2017-03-05 19:17] AybimYazilim commented on #227
Thanks :)

[2017-04-26 12:03] DandersenCode opened #232 ".htaccess?"

[2017-04-29 11:34] skipperbent commented on #232
Sorry if the documentation is unclear on this point. The .htaccess section was copy pasted from the demo-project repo.

I'll update the documentation with examples here, in the meantime you can find the correct `.htaccess` file in the `public` folder here:

https://github.com/skipperbent/simple-router-demo

[2017-05-03 10:37] Etto91 opened #233 "Route not found when url's parameters contains dash ('-')"
[code]

on this route i got an error when the name parameter contains '-' like '/it/products-categories/system-track'.

 '/it/products-categories/system' works.

i've tried with this
[code]

but the problem still remain

[2017-05-09 00:23] skipperbent commented on #233
I'm pretty sure that this is intended behavior. The default regex for parameters is `%s([\w]+)(\%s?)%s` - so you'll have to customize the regex for the parameters in order to match `-` as `\w` doesn't include this.

The approached you've tried is the right one.

Try this instead:

[code]

[2017-05-09 00:52] skipperbent commented on #232
This issue has been resolved. Please feel free to reopen or create another ticket.

Thanks for your feedback, I really appreciate your feedback.

[2017-05-09 00:52] #232 closed

[2017-05-09 12:39] skipperbent commented on #233
I'm closing this issue for now. Please reopen or create a new issue if you have any further questions or issues.

I appreciate your feedback.

/ Simon

[2017-05-09 12:39] #233 closed

[2017-05-26 00:13] zaingithub opened #238 "Handle 404 Page"
Hi, thanks for this powerfull simple Routing. I have use your routing for my sites.

After i implement a routing to handle 404, like i did in laravel :

SimpleRouter::all( '{notfound}', 'AdminController@404notfound' )->where( [ 'notfound' => '(.*)'] );

where the function 404notfound() inside AdminController is ;

	function 404notfound() {
	       header("Location: " . home_url() );
	       exit()

[2017-05-28 15:10] skipperbent commented on #238
Hello.

Thanks for your feedback - I'm really glad that you find the project useful.

There is no shortcut for handling 404, 403 etc. You need either need to add a custom exception handler and handle the NotFoundHttpException and use the router to redirect the request to either another URL or a controller / method.

Please refer to the exception part of the documentation for further details. I wil

[2017-05-29 04:14] zaingithub commented on #238
OK Thank you, i am waiting for it :)

[2017-05-29 09:28] skipperbent commented on #238
I'll add an easy option to add a 404-path in a future release, until then please use a custom `ExceptionHandler` and do something like shown in the documentation:

https://github.com/skipperbent/simple-php-router#example-1

### ExceptionHandler

[code]

**You can also redirect to another path by using:**

[code]

**Remember to add your custom `ExceptionHandler` to your `routes.php` file:**

[code]

[2017-06-13 22:54] zaingithub commented on #238
Thank you, i am waiting for the next update :)
I don't know exactly how can i use your example. I am newbie, still learning the code, hehe

[2017-06-16 20:41] skipperbent commented on #238
@zaingithub

You can find examples on the router demo project, located here:
https://github.com/skipperbent/simple-router-demo

What you want is to create your own exception-handler. Look at the `CustomExceptionHandler` class example (read the inline comments for more info) located here:
https://github.com/skipperbent/simple-router-demo/blob/master/app/Handlers/CustomExceptionHandler.php

And then

[2017-06-24 13:12] jatubio opened #239 "Error on converting callback to string"
Hi,

When using getUrl() in a named url with a anonymous function, throws one error on `getMethod()`, at line 268 of `src\Pecee\SimpleRouter\Route\Route.php`

I have changed the code to:

[code]

[2017-07-03 19:11] jatubio opened #240 "'Route not found' error shows original route instead rewrited route"
If i use one `RouterBootManager` to rewrite routes using `request->setRewriteUrl()` to rewrite one url and the new url have a route not defined, the error message tell me about not found original route.

Sample:

I will rewrite `/page/login` to `/ask/login`, but i don't have defined route for `/ask/login`.

I get this error:

[code]

I will be better:

[code]
Or:

[code]

[2017-07-05 09:52] skipperbent commented on #240
Hi @jatubio.

I totally i agree with you. Some knowledge about the current route would be very useful for faster debugging.

I'll add this feature in the upcoming release.

Thanks for providing your feedback, I really appreciate it.

/ Simon

[2017-07-06 11:17] skipperbent commented on #239
Thanks for reporting the issue, I really appreciate it.

I'll change all simular references to ensure that the value is a `string` before checking for the `@` character. The fix will be available in the upcoming release.

[2017-07-08 10:16] skipperbent commented on #238
Hello.

The new version of simple-php-router contains changes that makes it easier to handle errors (404, 403 etc) within your project.

Please refer to this section of the documentation:
https://github.com/skipperbent/simple-php-router#exceptionhandlers

**Example**

The example below should be placed in the file that contain all your routes. What happens is that `Router::error` takes a callback

[2017-07-08 10:16] #238 closed

[2017-07-08 10:17] skipperbent commented on #239
The latest version (3.3.1) has been fixed.

Thanks for reporting this issue. If you have any further questions, experience or need assistance, feel free to create another ticket or reopen this.

/ Simon

[2017-07-08 10:17] #239 closed

[2017-07-08 10:19] skipperbent commented on #240
Hi @jatubio .

The lastest version (3.3.1) will now the last redirected/rewritten rule if available.

Thanks for taking your time to contribute your ideas to this project.

If you need any further assistance, have feedback or ideas - feel free to create another ticket and/or reopen the existing.

/ Simon

[2017-07-08 10:19] #240 closed

[2017-07-09 11:24] jatubio commented on #240
Hi @skipperbent.

Thank you for this great library and to take feedback into account. Happy to help

[2017-07-09 11:25] jatubio commented on #239
Nice to help you to make a better route library ;)

[2017-07-11 03:46] thexeos opened #244 "PHP 5.6 feature used in code"
The library lists PHP 5.5 as supported version, but there is a `ARRAY_FILTER_USE_KEY` constant used in [`Pecee\Http\Input\Input`](https://github.com/skipperbent/simple-php-router/blob/bc0349010056ac6c8ee469d791f91b6ee9c1b140/src/Pecee/Http/Input/Input.php#L291) that was [added in PHP 5.6](http://php.net/manual/en/function.array-filter.php#refsect1-function.array-filter-changelog).

[2017-07-13 14:29] skipperbent commented on #244
Hi @thexeos .

Thanks for your feedback. You're right the library is no longer compatible with PHP 5.5, the documentation haven't been corrected yet.

However if you don't need the features that the `Input` class provides, the router should work just fine.

If you want PHP 5.5 compatibility please let me know and I'll add those changes to the next release.

/ Simon

[2017-07-15 23:14] thexeos commented on #244
Hey @skipperbent

This is the only incompatibility with PHP 5.5 I've found so far.

I've patched my local version with PHP 5.5 compatible `array_intersect_key`. I've written a small benchmark:
[intersect-filter-bench.php](https://github.com/skipperbent/simple-php-router/files/1150696/intersect-filter-bench.txt)

The results for 5.5:

And for 5.6:

And for 7.0:

So changing to `$output = array_inte

[2017-07-18 09:32] skipperbent commented on #244
The PHP 5.5 compatibility has been fixed in version 3.3.2.

Thanks for your support, I really appreciate it. If you need assistance or experience problems - let me know and I'll do all I can to help you out.

/ Simon

[2017-07-18 09:32] #244 closed

[2017-07-28 16:08] jatubio opened #248 "Mismatched route"
Hello,

I have this routes:

[code]

`/aviso/enviado` match `/aviso/{aviso}`
`/contacto` match `/{pagina?}`
`/pagina/usuarios` match `/pagina/{pagina}`

**But** `/avisolegal` match `/aviso/{aviso}` insteadof `/{pagina?}`

Thanks

[2017-07-28 17:00] skipperbent commented on #248
Hello

I'll look into this issue as soon as I get to my computer.

Generally you should keep any routes with optional parameters at the bottom of your `routes.php` as the router will initiate the first matched routed without processing any further routes.

Example

`/hello/match`
`/hello/{optional?} `

/ Simon

[2017-07-28 17:13] jatubio commented on #248
Thanks for the advice!

My routes are generated dynamically, but I'll check the order of the route `/{pagina?}`

In any case for this example, the match should not stop at `/aviso/{aviso}`.
In fact, it loads the route like `/aviso/legal`

[2017-08-01 13:18] mihutz92 opened #249 "Parameters are NULL if the route contains '-' for param value."
oHello,
I found a problem (I think) when trying to create some routes dynamically.

Ex:
Route /p/{any}/{id}
/p/word/{id} -> returns: "word"
/p/another-word/{id} -> returns "null"

I want to match the route "p/my-cat-is-beatiful/1" and use the {id}=1 in order to show the content I want.

I read about "Bootmanager: loading routes dynamically", but I don't want to write all the routes there because I

[2017-08-01 13:27] mihutz92 commented on #249
Please ignore!!! I found a way 👍 .

`
SimpleRouter::get('/ajax/{any}', function($any) { echo $any;}, ['defaultParameterRegex' => '[\w\-]+']);
`

[2017-08-01 13:27] #249 closed

[2017-08-01 13:40] skipperbent commented on #249
Hello @mihutz92

Thanks for taking your time to report your feedback.

There's a section in documentation explaining how to customize the regular expression used for matching parameters along with an explanation on why it only matches the `\w` pattern. It's hidden in the Advanced section of the documentation.

To avoid any confusion in the future, I'll move the section to the "Route parameters" se

[2017-08-01 14:35] skipperbent commented on #248
Hi @jatubio.

I'm trying to recreate the issue that you are experiencing.

I've created the following test which passes fine.

[code]

Try adding this snippet in `Router.php` class line 126 in the `processRoutes` method. It will order the routes so all routes containing `?` (optional parameter) will be processed last, if no other routes have matched. Let me know if it solves your issue.

[code]

C

[2017-08-01 14:48] jatubio commented on #248
Hi @skipperbent

Thanks for taking the time to check this issue. I'm away from my computer until next week.

How can i export one list of dynamically loaded routes?

I think, in order to test this issue, it is necessary to modify your test like this:

	// TestRouter::get('/aviso/legal', 'DummyController@method1');
	TestRouter::get('/aviso/{aviso}', 'DummyController@method1');
	TestRouter::get('/pa

[2017-08-01 15:04] skipperbent commented on #248
Hi @jatubio .

The changes you made to the tests fails. The changes below passes:

[code]

`/aviso/legal` cannot match `/{pagina?}` as it contains more than one parameter. If you want it to match, you have to change the regular expression used on the route:

https://github.com/skipperbent/simple-php-router#regular-expression-route-match

Something like this:

[code]

You have to keep that route as

[2017-08-01 15:23] jatubio commented on #248
Sorry Simon (@skipperbent), I think I should not have explained myself well.

I want `/avisolegal` to be equal to  `/pagina/avisolegal`.

It's not `/aviso/legal`, but `/avisolegal`, **a single parameter**.

This its why i have put that `/avisolegal` `assertNotEquals('/aviso/{aviso}/'`, but `assertEquals('/{pagina?}/'`

The problem seems to be, if you hace one single parameter what starts with the

[2017-08-01 15:31] skipperbent commented on #248
Ahh thanks for clarifying - yeah, I see what you mean! 👍

It's definitely a bug!

Thanks - I'll try to fix this issue right away.

[2017-08-01 15:38] jatubio commented on #248
Thank you for taking it into account!

[2017-08-01 19:33] skipperbent commented on #248
Hi @jatubio .

The issue should be resolved in version 3.3.3, available here:
https://github.com/skipperbent/simple-php-router/releases/tag/3.3.3

Please let me know if you experiencing any further issues with the software. I really appreciate your feedback, so feel free to reopen or create a new ticket if you have any further questions.

/ Simon

[2017-08-01 19:33] #248 closed

[2017-08-07 19:45] alejoloe007jb opened #253 "The library does not work"
not work:

use Pecee\SimpleRouter\SimpleRouter as Route;
Route::get('/', function () {
    echo 'Hola';
});
Route::get('/profile/{id?}', function ($id) {
    echo $id;
});
Route::start();

Yes work:

use Pecee\SimpleRouter\SimpleRouter as Route;

Route::get('/profile/{id?}', function ($id) {
    echo $id;
});
Route::get('/', function () {
    echo 'Hola';
});
Route::start();

[2017-08-07 20:26] skipperbent commented on #253
Hi @alejoloe007jb .

Thanks for reporting the issue!

The problem has been resolved in version 3.3.4. Please update your project to the latest version.

If you have any further problems or issues, feel free to reopen or create a new issue.

/ Simon

[2017-08-07 20:26] #253 closed

[2017-08-11 23:54] alejoloe007jb opened #257 "Using return in Route callbacks does not display value"
not work:
[code]
work:
[code]

[2017-08-12 00:41] skipperbent commented on #257
Hi @alejoloe007jb .

The two examples are identical. You can find a unit test for the path `/` in the `RouterUrlTest` class which passes fine, so you might have to be a little more exact on what issues you are experiencing.

/ Simon

[2017-08-12 00:44] skipperbent commented on #257
Update: Sorry, I see what you mean - i'll look into it.

[2017-08-12 00:54] alejoloe007jb commented on #257
Using return in Route callbacks does not display value

[2017-08-13 02:16] skipperbent commented on #257
Hi @alejoloe007jb .

The issue has been resolved in version 3.3.5.

Thanks for taking your time to reporting the issue.

/ Simon

[2017-08-13 02:16] #257 closed

[2017-08-13 20:01] jatubio opened #261 "NotFoundHttpException if route parameters are 'encoded'"
Hi Simon,

I'm using your library on one spanish web site.

For the route: `/especialidad/{especialidad}`
Sometimes i have one url like: `/especialidad/cirugía local`.
I have encoded the url and final url is: `/especialidad/cirug%C3%ADa%20local`, but i get NotFoundHttpException with this url.

In summary:

This works:
`/especialidad/cirugia`

This don't work:
`/especialidad/cirug%C3%ADa (/especial

[2017-08-13 20:32] skipperbent commented on #261
Hi @jatubio .

I will make some unit tests and see what I can do about the issue you are experiencing.

Until then you might be able to create your own workaround by defining your own regular expression for the parameters. By default the library uses only `\w` which matches `A-Z`, `0-9` and a limited set of special characters.

Please refer to the "Custom regex for matching parameters" section in

[2017-08-13 22:34] jatubio commented on #261
Hi @skipperbent.

I have tested the url `/cursos/listado/especialidad/Cardiolog%C3%ADa` with `SimpleRouter::('cursos/listado/{listado?}/{filtro?}', $callback, ['defaultParameterRegex' => '[\w\%]+'])` but it don't work.

Maybe this can help you:
- If i write `/cursos/listado/especialidad/Cardiolog%C3%ADa`, i get `/cursos/listado/especialidad/Cardiología` on php logs. Then, maybe you can add `/u` fl

[2017-08-13 23:25] skipperbent commented on #261
Hi @jatubio .

Can you please try this regular expression the affected routes?
It will support spanish letters and accents, and in my testing it seem to pass on the routes you have issues with.

[code]

No worries - I always appreciate feedback which helps improve the project, so keep em' coming 👍

Let me know if the above works.

/ Simon

[2017-08-13 23:27] skipperbent commented on #261
Copy-pasta of passing unit-test:

[code]

[2017-08-18 16:30] jatubio commented on #261
Thank you @skipperbent, it works like a charm! :)

[2017-08-18 16:39] jatubio opened #262 "Asking for getUrl() without parameters but getting with current route parameters"
Hi simon,

This is what it's happening to me:

I have one route named 'listados' with the regex: `/cursos/listado/{listado?}/{filtro?}/`

I go on the browser to url `/cursos/listado/especialidad/test/`

If I run `router()->getUrl('listados', ['full','one'])` I get: `/cursos/listado/full/one/`.
But, if I run `router()->getUrl('listados', [])` I am getting: `/cursos/listado/especialidad/test/` when

[2017-08-18 18:30] skipperbent commented on #262
Hi @jatubio .

There's already a fix that should resolve this issue which will be available in the next release. The next release will be ready shortly - I'll keep you posted.

/ Simon

[2017-08-18 18:31] skipperbent commented on #261
I'm glad to hear. I'll close this issue.

/ Simon

[2017-08-18 18:31] #261 closed

[2017-08-18 18:34] skipperbent commented on #262
Please try updating to version 3.3.6 and see if your issue has been resolved. :)

/ Simon

[2017-08-19 09:23] zaingithub opened #265 "Get the parameter define in a route"
Hi, how can i identify if a route with any name has a or multiple parameter?

ex :

SimpleRouter::get('/{query}.html', "SimpleController@search")
				->where([ 'query' 	=> '[A-Za-z0-9\-]+' ])
				->name('search');

so i can create (example) :

SimpleRouter::getParams( 'search' );

it will return

return array('query');

if the route dosn't has any parameter, it will return "null", etc.

thanks :)

[2017-08-19 12:02] skipperbent commented on #265
If you want to know which parameters that has been defined on a route, you should name your route and use the `url` helper function to find the specific route that you are looking for.

There's two ways of doing this. If you are doing this from a controller or callback you can use the `getLoadedRoute` to get the currently loaded route.

**Example:**

[code]

Otherwise I would recommend that you na

[2017-08-19 12:03] skipperbent commented on #262
Hi @jatubio .

Are you still experiencing issues with version 3.3.6?

[2017-08-19 12:26] jatubio commented on #262
Sorry @skipperbent , have no time to test it.

I will tell you later

[2017-08-19 15:31] jatubio commented on #262
Ho @skipperbent

It's solved on version 3.3.6.

Thank you a lot.

It is great to use a library where the author is checking the problems and solving them. :)

[2017-08-19 15:31] #262 closed

[2017-08-19 15:35] skipperbent commented on #262
@jatubio Thank you for the kind words and thanks for reporting the issue and using the library.

[2017-08-20 15:00] jatubio commented on #265
@zaingithub, thank you for ask this.

Just today i have to get de parameters of current router and thank to you i have got the response very fast :)

[2017-08-20 16:52] skipperbent commented on #265
Great! I'm glad you got it working and no problem 👍

I'm closing this issue, if you have any further questions etc. feel free to reopen or create a new issue.

/ Simon

[2017-08-20 16:52] #265 closed

[2017-08-23 01:16] jatubio opened #268 "Use getHeader('unencoded_url') for IIS instead of $this->getHeader('request-uri')"
Hi simon,

I'm using IIS and i'm not sure if this issue happens also on Apache and another Web Servers.

When i have one url with utf8 characters, like: `http://www.misite.com/especialidad/Dermatolog%C3%ADa` or `http://www.misite.com/especialidad/Dermatología`, i'm getting a strangely encoded version of `Dermatología`, but not `Dermatología` or `Dermatolog%C3%ADa`

Strangely, for something like `h

[2017-08-23 03:19] zaingithub opened #269 "Passing variables from Middleware to controller/route"
How can i sent variable from middleware to the controller?

[2017-08-23 12:50] skipperbent commented on #269
You can set whatever you like on the `Request $request` parameter and fetching them by calling `request() ->myParameter`.

[2017-08-23 13:08] skipperbent commented on #268
Thanks for mentioning this - haven't done a lot of testing on IIS to be honest, so I'm glad you're with us to ensure everything runs perfectly for those that uses IIS.

I don't think your change will break anything and as long as the unit tests passes I see no problem in releasing your fix.  However we might need to check all the references in the router classes to ensure that `urldecode` is not c

[2017-08-23 13:27] skipperbent commented on #269
You can see in the documentation under "middlewares" an example here where a user object is set on the `Request` object from a Middleware

https://github.com/skipperbent/simple-php-router/blob/master/README.md#example

[2017-08-23 15:08] jatubio commented on #268
It is always a pleasure to help :)

[2017-08-23 17:18] jatubio commented on #268
After decode the url, I need to remove accents from some parameters.

If I add this line to `__construct()` method of `Peece\Http\Request` class:
`$this->uri=removeacents($this->uri);`

Like that:
[code]

It works ok and for `http://www.misite.com/especialidad/Dermatolog%C3%ADa` or `http://www.misite.com/especialidad/Dermatología` I get `http://www.misite.com/especialidad/Dermatologia`

But, if i

[2017-08-23 17:51] skipperbent commented on #268
Urldecode might change the encoding, so you have to remove urldecode from the route classes which uses request->getUri() otherwise they will be decoded twice.

You can see the classes you need to change in the commit to referenced above.

[2017-08-23 18:41] jatubio commented on #268
I have put the same changes on my code, but don't have distinct results.

This is from my log (v.3.3.6):

On `Request->__construct()`:
[code]

Only `Dermatolog铆a` seems to work with removeAcents() function. Then, I can't get `request-uri`, I have to get `unencoded_url` and on some moment do a urldecode().

If I left this line, I get this results for getParameter():
`$this->uri = $this->getHeader('

[2017-08-23 19:33] skipperbent commented on #268
Did some digging and it turns out that PHP's `parse_url` function doesn't work well with unicode characters.

Did some tests and managed to get it working with a custom url parser. I'll update the pull-request shortly so you can see what's changed.

[2017-08-23 20:06] skipperbent commented on #268
The fix is available here and is pending next release:
https://github.com/skipperbent/simple-php-router/pull/271/files

Note the new `Uri` class and especially the `parseUrl` method. Also all references to the old php `parse_url` has been removed.

[2017-08-23 20:30] jatubio commented on #268
I'm testing only the last pull files and is not working ok. I will wait to your next relase to test them :)

[2017-08-23 20:34] skipperbent commented on #268
It should work - the unit tests with your example returns the correctly encoded characters.

Try the latest version 3.4.0, please read the release notes before updating as some changes might break your project.

[2017-08-23 20:49] jatubio commented on #268
Now, with 3.4.0, `http://www.site.com/cursos/listado/especialidad/Dermatología` will go to default route, but
`http://www.site.com/cursos/listado/especialidad/Dermatologia` it's working ok and go to correct route.

This is my `['defaultParameterRegex' => '[\(\)\w\p{L}\s-]+']` (I have added '(' and ')' because have some words with them.

I will try to pass your tests. Last time I tried don't know h

[2017-08-23 20:56] skipperbent commented on #268
Setting up phpunit is easy. You just run composer install in the simple-php-router directory, then PhpStorm should detect everything automatically.

Sounds like you should consider using querystrings instead as they are guaranteed to support all characters. If you send unicode characters via the path - browser might send them differently to your server.

This unit-tests passes - and the parameters

[2017-08-23 21:01] jatubio commented on #268
I have phpunit installed, but not PhpStorm :(

When I run `phpunit.cmd --bootstrap .\vendor\autoload.php %* .\vendor\pecee\simple-router\test` I get always `PHP Fatal error:  Class 'PHPUnit_Framework_TestCase' not found in ...\last\vendor\pecee\simple-router\test\GroupTest.php on line 7`

[2017-08-23 21:05] jatubio commented on #268
Ok, don't know why i will not have a good version of your composer.json file. I have downloaded and now it's installing phpunit

[2017-08-23 21:35] skipperbent commented on #268
Unfortunately never used PhpUnit outside of PhpStorm so can't help you on that part. However this is the command that PhpStorm runs:

"C:\Program Files (x86)\XWM\php\php-7.0.3\php.exe" C:/Users/simon/AppData/Local/Temp/ide-phpunit.php --no-configuration D:\Workspace\simple-php-router\test

[2017-08-23 21:38] skipperbent commented on #268
Btw try adding `\í` to your defaultParameterRegex.

[2017-08-23 21:52] skipperbent commented on #268
Think i solved your issue in problem 3.4.1 where I've added unicode regex support, so now the regex below should match all foreign characters.

After updating, try using this parameterRegex:

`['defaultParameterRegex' => '[\w\p{L}\s-]+']`

or
`['defaultParameterRegex' => '[\w\x00-\x7F]+']`

[2017-08-23 22:47] jatubio commented on #268
I finally got it to work on 3.4.1 version!!

I need to add '%' to defaultParameterRegex. This is my updated `['defaultParameterRegex' => '[\%\(\)\w\p{L}\s-]+']`

But, the first difficult was that, indeed the tests are executed without problems. But it's because when running the tests, the code on `Request->__construct():` is not runned.

If you want this project to be compatible with IIS, you have

[2017-08-23 22:54] jatubio commented on #268
Tested also on 3.4.1. It's works, but I need too add '%' character to my regex.

[2017-08-23 22:58] skipperbent commented on #268
@jatubio Thanks for the update.

Ahhh of course! Great you finally got it working! The __construct values are overwritten when running unit tests because `REQUEST_URI` isn't available from the console - you specify which url you want to "simulate", the `TestRouter::debugNoReset('/test/Dermatología');` basicly just calls `request()->setUri()` and starts the routing.

Did you get it working on 3.4.1

[2017-08-23 23:23] jatubio commented on #268
Yes, that step is necessary.
At first I left that part out of the builder code. Because I thought it best that the responsibility to decode the parameters is from the external classes.

But, after your question, I have re-included the code in the constructor and, after several tests, I think it is the best site, since otherwise, the project would behave differently with IIS as it does with other s

[2017-08-23 23:41] jatubio commented on #268
Sorry, I have misread your last comment and think that question was about `urldecode()` instead of `unencoded_url`, hahaha.

On IIS, if url have utf8 or encoded characters, you need to get `unencoded_url` because `request-uri` will have a wrong value. If I don't change this and left only `request-uri`, any route with utf8 characters will match the default route this was what happened here: https:/

[2017-08-24 01:12] skipperbent commented on #268
@jatubio Thanks for the feedback - I really appreciate your help and that we got this working 👍

I've added the additional check for `unencoded_url`, if available that header will be set, otherwise the default `request_uri` header will be used instead.

The fix will be available shortly so you can avoid any hacking in the library, which will just give you headache once you update the library in th

[2017-08-24 01:17] skipperbent commented on #268
Your fix is now included in version 3.4.2 👍

Thanks for reporting the issue and helping solving it!

/ Simon

[2017-08-24 01:38] jatubio commented on #268
Thank you Simon :+1:. I'm glad to help you.

¿Have you thinked about use urldecode over 'encoded_url'? https://github.com/skipperbent/simple-php-router/issues/268#issuecomment-324489672

I'm not sure but, may be, encoded_url on IIS don't returns the same value as request-uri on Apache. And to be 100% compatible you need to urldecode it.

With: `/test/Dermatología`, ¿What's you get from `$this->get

[2017-08-24 02:54] skipperbent commented on #268
I think the `ENCODED_URL` header is IIS specific. Can't find anything in my `$_SERVER` variables; I've tried on both Apache and Nginx. The newly added `Uri` class (version 3.4.0) will automatically try to fix encoding by calling it's `parseUrl` whenever a new instance is created.

The `Uri->parseUrl` method calls `urldecode` on every part of the `parse_url` results (path, query, user etc).

Is ver

[2017-08-24 14:06] jatubio commented on #268
Yes, `ENCODED_URL` is IIS specific. This is why I have asked you about debug your code and see what's the value of `$this->getHeader('request-uri')` on Apache and Ngix. Because you can't check 'encoded_url' for IIS and I can't check 'request-uri' for Apache. But we can put both here an compare to find the most compatible method to work with tem.

With 3.4.2 I'm having this error: `Route not found:

[2017-08-24 14:52] skipperbent commented on #268
Ahh I see your point. Thanks for clarifying!

I get the same problem with Apache and Nginx - the `REQUEST_URI` header is urlencoded and is returned as `/cursos/listado/especialidad/Dermatolog%C3%ADa/`.

And i agree with you 100% - the router should handle all url decoding, so I've added `urldecode` to the `Uri` so all urls are decoded properly from now on. The new release will be available shortly

[2017-08-24 14:56] skipperbent commented on #268
The fix is released in version 3.4.3. Hopefully you will get no more problems with url-encoding in this release. I've got my fingers crossed 🤞 😆

Thanks for helping out on this issue - I really appreciate it.

[2017-08-24 15:15] jatubio commented on #268
:laughing: :laughing:

Yeah!! Now it's working like a charm! :thumbsup:

I really appreciate also your work and your dedication to solve this issue and to do better this great library.

I really enjoyed this conversation and also learned a lot.

See you, take care. :grinning: :grinning:

[2017-08-24 15:15] #268 closed

[2017-08-26 01:15] skipperbent commented on #268
Great! I'm happy that we got it working!

Thanks - no problem, I'm here to help and thanks for using the project.

Same here - take care 😄

[2017-08-30 20:09] adamkelso-rg opened #284 "Allow response()->json() to accept JsonSerializable"
First off, thanks for SimpleRouter. It's awesome.

Currently, the `json()` method on the Response object requires the `$value` argument to be an array. It would be really useful if it could accept either an array or any object that implements the [JsonSerializable interface](http://php.net/manual/en/class.jsonserializable.php). We want to use it to build simplified Fractal like translators.

Thank

[2017-08-31 10:57] skipperbent commented on #284
Hi @adamkelso-rg .

Thanks, I'm glad that you find the library useful.

I totally agree with you. The `json()` method should accept the `JsonSerializable` interface. I will make sure that this feature is implemented in all versions and released shortly. I really appreciate your feedback.

/ Simon

[2017-08-31 11:12] skipperbent commented on #284
Hi @adamkelso-rg .

The change is now available in version 1.8.1, 2.6.7 and 3.4.4.

/ Simon

[2017-08-31 11:14] skipperbent commented on #269
Are you still having problems passing variables from your middleware to the controller/route or is it ok to close this issue?

[2017-08-31 16:48] adamkelso-rg commented on #284
@skipperbent Rock on!

Thanks.

[2017-08-31 16:48] #284 closed

[2017-09-07 05:22] #269 closed

[2017-09-08 20:33] lordmemed opened #292 "Where is the basepath setting? and where is the csrf_token function?"
yesterday, i have add this func() for personal use. but i forgot to back it up. so i forgot where to set this function?

how do i make it work if it run from sub-dir?

(dont use the htaccess rewritebase)

and for the csrf_token,  its mentioned at the docs,  but actually where it is?

[2017-09-09 00:37] skipperbent commented on #292
Hi @lordmemed.

The `csrf_token` helper function somehow got lost. It will be added to the `helpers.php`-file in the next release and it looks like this:

[code]

Haven't tried using the library from a sub-dir myself - but you might get it to work by modifying the `REQUEST_URI` from the `Request` class.

Something like this:
[code]

You can see an example in the `project/test/Helpers/TestRouter.ph

[2017-09-09 03:20] lordmemed commented on #292
thanks for the answer.

previously, i add the setBasePath and getBasePath function to SimpleRouter Class.
that work perfectly. but accidentally i replace it with the new update. its my fault.
and now i get this error.

what i mean is, if i set Router::get('/',function(){});
it goes to basepath(if any)+'/'.

sorry for many questions :). and poor english.

[2017-09-09 03:28] skipperbent commented on #292
No problem :)

I think an easy fix would be to just add a group around all your routes with your base path.

[code]

Writing this from my phone so please check the documentation if the code above has errors.

Let me know if it works.

/ Simon

[2017-09-09 05:46] lordmemed commented on #292
haha. i get it.
just add it in SimpleRouter class,

[code]
that solve it. sorry for disturbing you.

btw, what android app did you use?

[2017-09-10 01:17] lordmemed commented on #292
hey, anybody there?
one more question, please. :)

whenever i use a form to POST something, it always return an error 'invalid csrf-token',
i have add session and set hidden text input that store csrftoken, but, how do i really use it?

[2017-09-10 03:30] skipperbent commented on #292
@lordmemed

It's a bad idea to add it directly to the SimpleRouter class as it will get overwritte upon update. I would suggest that you use a group instead or extend the SimpleRouter class and overwrite method/add or own and then use that when generating your routes, for example:

[code]
and then using that to add your routes:

[code]

In regards to the CSRF problem - check that the `CSRF-TOKEN`

[2017-09-10 04:22] lordmemed commented on #292
@skipperbent

okay, i got it and i have been move it to my router.

and i has solved the csrf problem.
thanks.

sorry if out-of-topic. but i dont want to open another issues.

my problem here with this now.
the route is, `Router::get('/{url}', 'DefaultController@geturl');`

expected result that, '/got-here' to be works, but it doesn't.
it just works if the url is '/got_here', just with the undersc

[2017-09-10 05:38] skipperbent commented on #292
@lordmemed I'm glad to hear that you got it working 👍 😄

You need to add a custom parameter regex as the router only matches the regex `\w` (common web characters) which is enough in 99.9 percent of the time. It's done to be as efficient as possible.

**Example:**

[code]

Please refer to the "Custom regex for matching parameters" section in the documentation for more info:
https://github.com/skip

[2017-09-10 05:42] lordmemed commented on #292
thank you so much for your help.

i think i will close this issues and need more read on the docs.
because, i was missing that part.

waiting for the next update. :)

[2017-09-10 05:42] #292 closed

[2017-09-13 06:19] lordmemed commented on #292
you are so kind and easy going with people asking to you.

not like the original author of pixie. he kick me out of conversations.

for suggest , would you like to create gitter?  so every users doesn't have to open an issues just for asking little thing.
it's because i can't delete issues on github.  thats their rules.

[2017-10-11 11:09] jatubio opened #297 "Request: Add more info on 'Route or method not allowed'"
Hello:

Would be great if more info about url will show when a 'Route or method not allowed' is throwed.

Thank you.

[2017-10-11 14:03] jatubio commented on #297
I have created a pull request :wink:

https://github.com/skipperbent/simple-php-router/pull/298

[2017-10-12 13:54] skipperbent commented on #297
@jatubio I've merged your changes - they will be available in the next release. Thanks for your contribution, I appreciate both your work and feedback 👍

[2017-10-12 15:32] jatubio commented on #297
Thank you Simon 👍

[2017-10-12 15:32] #297 closed

[2017-10-21 08:47] PSF1 opened #299 "CSFR documentation issue"
Hi,

Nice library : ))

In the readme documentation don't said how set the CSFR token in a form, and not too the name of the field.

I finded that in src/Pecee/Http/Middleware/BaseCsrfVerifier.php, but it will be better has it in documentation.

Thanks

[2017-10-23 19:10] skipperbent commented on #299
Hi @PSF1 .

Thanks for your feedback - I agree with you! The documentation definitely needs to mention how to use the token in forms. I'll make sure that the documentation will be updated in the next upcoming.

/ Simon

[2017-10-23 20:10] skipperbent commented on #299
I've added a small preview/example in the documentation which are available in version 3.4.5.3.

[2017-10-23 20:10] #299 closed

[2017-11-01 19:18] jatubio opened #303 "Error 404. Route not found: "/index.php/""
Hi!

When I go to www.domain.com, i have no problem. But if I go to www.domain.com/index.php, I get `Error 404. Route not found: "/index.php/"`

I have to define one route for index.php file?

Thanks

[2017-11-01 20:14] skipperbent commented on #303
Hi @jatubio.

You have to treat the `index.php` as a parameter with a special regular expression OR set your own regex for which the route will be matched upon, depending on your needs.

Here you can learn more about setting a custom regex for parameters:
https://github.com/skipperbent/simple-php-router/blob/master/README.md#regular-expression-constraints

Use the example below as a reference,  as

[2017-11-02 00:10] jatubio commented on #303
Hi @skipperbent.

Many thanks for your fast reply. I will save your reply and samples to use on the next project. On my current project I'm not sure how add a new regex can impact the current routes, because probably to be sure all routes work with and without 'index.php' in them, I have to add 'index.php' to all my routes regex.

I'm found a better solution for this time: I'm removing 'index.php'

[2017-11-02 00:17] skipperbent commented on #303
Hi @jatubio.

No problem, I'm here to help.

If the router is getting index.php as part of the url without it being in the browser path, then it could sound like issues with url rewriting on your webserver. You can find some on how to setup url rewriting in the documentation for common web servers.

/ Simon

[2017-11-02 17:02] jatubio commented on #303
I know, Simon, I have written the IIS configuration in the documentation :stuck_out_tongue_winking_eye:

index.php it's included only sometimes. When I have some freetime I will go to check what is happening with IIS and his redirections, and if needed, I will rewrite documentation or post here what was my error.

Thank you again. :+1:

PS: If you want, you can mark this issue as question, and clo

[2017-11-04 00:06] jatubio commented on #303
@skipperbent, I have found the problem and was my error.

On IIS sometimes $_SERVER['PATH_INFO'] don't exists and I'm using `$_SERVER['ORIG_PATH_INFO']`.
This give `\index.php\` as part of the returned value. By sample: ```/index.php/test/mypage.php```.

And I'm redirecting to the returned url. This is why router code is getting one url with ```index.php``` inside.

I have updated docs and add som

[2017-11-04 00:06] #303 closed

[2017-11-08 03:08] skipperbent commented on #303
Hi @jatubio .

Sorry I totally forgot that you wrote those lines - sorry about that 😄

I'm glad you got it working and that you are sharing it with other people that might experience the same issue on their setup. Great work!

Thanks and nice weekend to you too sir!

/ Simon

[2017-11-08 12:31] jatubio commented on #303
Hahaha, no problem ;)

Do not worry, with a library with so many collaborators, you would need an
elephant memory to remember where each one has contributed, hahaha.

I am delighted to share my experience and the solutions I find using your
library. It has saved me from having to use large frameworks to be able to
have routes in my projects thanks to your generosity. The least I can do is
contribu

[2017-11-13 09:44] Blair2004 opened #313 "Route Parsing issue"
Hi i'm facing some problem with the script.
When i'm registering a route like so :

[code]

the first route seem to match to this route :
"http://site.com/foo-slug/bar/do"

And the second route is not triggered.

[2017-11-21 02:50] skipperbent commented on #313
Hi @Blair2004 .

First of all thank you very much for using the library.

I'm not able to recreate the issue you are experiencing with unit-tests - they all pass just fine. I also tried to recreate the routes using an empty project on a Apache web-server which also matches the correct routes.

**PhpUnit code used:**
[code]

To help you solve the issue, I would need some more information about your

[2017-11-21 20:26] Blair2004 commented on #313
Hi, thank you for your reply. Here is the details requested.
- I'm not able to retreive version from "composer.json"
- i'm running on Apache
- 7.0 and 5.6
- That function return NULL

From your test, it seems you're using the same method of DummyController.
The problem is when you're using a dash "-", next to a similar prefix on two route, like this :

Route::get( 'foo/something', function() {
ech

[2017-11-25 00:36] skipperbent commented on #313
Hi @Blair2004.

The unit-tests doesn't use the response from `DummyController` to anything, it's just a placeholder. It could be a function instead.

These lines are the important ones in the unit-test. The first line tells the router to simulate the path `/foo-slug/bar/do` as if you were to enter that directly into your browser. The next lines checks that the loaded-route matches the correct one,

[2017-12-02 19:31] skipperbent commented on #313
Are you still experiencing issues with the simple-php-router library?

[2017-12-04 16:45] Blair2004 commented on #313
Hi, sorry for the delay, i would like to add you to my private repository. You might better understand the issue. Let me know if you're ok with that :)

[2017-12-06 07:09] sandrodz opened #332 "response()->json doesn't return correct content type"
<img width="366" alt="screen shot 2017-12-06 at 11 07 08 am" src="https://user-images.githubusercontent.com/8479569/33649053-cbb908e8-da75-11e7-93ff-64ce3e2ab594.png">
<img width="680" alt="screen shot 2017-12-06 at 11 07 25 am" src="https://user-images.githubusercontent.com/8479569/33649054-cbd684ea-da75-11e7-84e7-d581ad6e7bf2.png">

[2017-12-06 07:13] sandrodz opened #333 "response()->json utf8 issues"
It returns gibberish (see name):

`[{"trans_id":"a0N1lXIfjome+JJOUXK8A4fvQEs=","status":"created","name":null,"for":null},{"trans_id":"eT0TawffDyArKiT8JtB0RiKa4Jg=","status":"created","name":null,"for":null},{"trans_id":"xvw\/GoksovyxSvftSRHBgTjc8pE=","status":"created","name":null,"for":null},{"trans_id":"+pJ2pSPm5zJanlMnpLIllAr5biM=","status":"created","name":null,"for":null},{"trans_id":"k4ribu

[2017-12-06 08:33] Blair2004 commented on #313
I have invited you (To NexoPOS). We'll continue the discussion there.
Thank you.

[2017-12-06 08:33] #313 closed

[2017-12-06 18:13] skipperbent commented on #333
Hi @sandrodz.

Thanks for taking the time to report this issue.

In version 3.4.8.0 I've added some extra parameters to the `json` method in the `Response` class, including an `$options` parameter that will allow you to pass json-options.

Setting the `JSON_UNESCAPED_UNICODE` constant on the `$options` parameter will disable hexadecimal conversion for the `json_encode` function.

More info on avai

[2017-12-06 18:23] skipperbent commented on #332
Hi @sandrodz.

The `response()->json()` method automatically will automatically set the content-type to `application/json` unless the `$value` parameter is not a valid `JsonSerializable` instance or `array`.

Using `-I` will only show document-info. To see http-headers please use the `-i` parameter instead which will include response headers (not that intuitive param options haha).

[code]

/ Simo

[2017-12-07 21:28] sandrodz commented on #333
Thanks for the quick fix :)

I'm still getting this:

while directly doing this `echo json_encode($orders, JSON_UNESCAPED_UNICODE);` works

[2017-12-08 04:19] skipperbent commented on #333
@sandrodz

Hmm that's weird- because `response()->json` is just setting the header before calling `json_encode` - exactly like your working example, so you should get the same response.

Judging from the non-working response, it looks like the hexadecimal conversion has been disabled, but that the output for some reason is being encoded.

Try editing the `response()->json()` and replace line 98 wi

[2017-12-08 19:28] sandrodz commented on #332
Yep, your right. My bad!

[2017-12-08 19:28] #332 closed

[2017-12-08 19:32] sandrodz commented on #333
Yep, that helped. Can you push a version? it feels dirty to have modified file in vendors dir :)

[2017-12-09 23:00] skipperbent commented on #333
@sandrodz It was just to confirm that it worked with your data :)

The fix is available in version 3.4.9.0.

[2017-12-10 07:36] sandrodz commented on #333
Thanks!

[2017-12-10 07:36] #333 closed

[2017-12-19 14:56] trenyture opened #346 "Installing without composer?"
Is there a way to install your Router without using Composer?
Thanks

[2017-12-20 17:44] skipperbent commented on #346
The library doesn't require any dependencies, so you can install it in any project without composer, as long as you get the autoloading working manually - however this should only be used as a last-resort, integrating composer into the project would be highly recommended as it will add great benefits like other third party libraries, easy updating and autoloading.

[2018-01-02 12:38] Steph-24 opened #347 "Optional parameters default value"
I tried this code from the documentation :
`SimpleRouter::get('/user/{name?}', function ($name = 'Simon') {
	return $name;
});`

But it seems that the default value doesn't work. The returned value will be null or empty in my case, if my url is "/user/" without a parameter.

I also tried the same thing by using a controller but the result is the same.

[2018-01-06 02:38] skipperbent commented on #347
Hi @Steph-24.

Thanks for taking the time to report this issue. You're right - the default parameter value is overwritten, which is not the intended behavior.

The issue has been fixed in the latest release (version 3.4.10.0), along with new unit-tests to ensure that no similar issues will happen in the future.

/ Simon

[2018-01-06 02:39] skipperbent commented on #346
Closing this issue - feel free to reopen if you have any further questions.

[2018-01-06 02:39] #346 closed

[2018-01-08 15:28] Steph-24 commented on #347
Perfect ! Thanks for your help and your time. It works great now.

[2018-01-14 12:35] skipperbent commented on #347
No problem, happy to help. Feel free to create another issue if you have any further issues or questions :)

/ Simon

[2018-01-14 12:35] #347 closed

[2018-01-16 09:18] rachmawatiafrida opened #354 "Get Input Text with Form Method POST"
Do you have example how to create search box and redirect to

Router::get('/search/{string}', 'Controller@search'

Thanks,

[2018-01-16 12:18] skipperbent commented on #354
@rachmawatiafrida

Hi @rachmawatiafrida.

You should avoid using a query as a parameter on the url, as certain characters might not be compatible in all browser.

However it's definitely possible, however you have to use javascript to make the form append the search-term to the url instead of a querystring:

[code]

Then give your route a name, so we easily can get the url by calling `url()`, like

[2018-01-16 14:58] rachmawatiafrida commented on #354
Why didn't use
`response()->redirect(url('name'));`
and detect input form method post using `(Request $request)` ?

[2018-01-16 15:04] skipperbent commented on #354
@rachmawatiafrida you asked me how to create a search box.

You can get input values by using:

[code]

I'm not sure I understand your question, sorry...

[2018-01-16 15:34] rachmawatiafrida commented on #354
Can you check and correct this code?

[code]

`Router::post('/', 'Controller@postsearch')->setName('post');`
`Router::get('/search/{query}.html', 'Controller@find')->setName('search');`

[code]
Thanks,

[2018-01-16 15:47] skipperbent commented on #354
@rachmawatiafrida

You need to define a custom regex for the query parameter. Otherwise the route will fail as parameters only matches a-z and 0-9 as default.
[code]

The `Request` is not passed automatically. You can call it by using `request()` - but since you want to get input value, you should use the `input` helper function instead.

[code]

**More info:**

- Parameter regex:
https://github.c

[2018-01-16 17:52] rachmawatiafrida commented on #354
Finally successfull with `input()->get('query')` .
But URL returned /search/test.html/

How to remove the last slash after .html?

[2018-01-16 18:04] skipperbent commented on #354
Great, that's nice to hear! 🙂

In your helpers.php - in the url function you can just trim the ending slash manually.

[code]

[2018-01-20 04:39] rachmawatiafrida commented on #354
Thank you so much, very like this router.

[2018-01-20 04:39] #354 closed

[2018-01-20 22:03] skipperbent commented on #354
Thanks! I'm happy that you find it useful -and thank you for using it.

Feel free to create another issue if you have any further questions, comments, ideas etc.

/ Simon

[2018-01-29 14:10] vystepanenko opened #355 "Question about Router::resource"
hello!
I have controller like
[code]
I want to make resource on this class with custom $methodNames. Something like this
[code]
But when I hit http://mydomain/test/testIndex I received error
`SyntaxError: JSON.parse: unexpected character at line 1 column 1 of the JSON data`

What I'm doing wrong?

[2018-01-29 19:10] skipperbent commented on #355
@vystepanenko

Not sure about the json syntax-error you are receiving, sounds like it has the `Content-type: application/json` header which fails due to an exception etc.

I think you need to do something like this:

[code]

The default values are defined in the `$methodNames` property in the `Pecee\SimpleRouter\Route\RouteResource` class.

Copy pasta:

[code]

Otherwise you can implement the `IRe

[2018-02-04 23:33] skipperbent commented on #355
I'm closing this issue due as there has been no response in a while.

Feel free to reopen or create another issue if you have any further questions or issues.

/ Simon

[2018-02-04 23:33] #355 closed

[2018-03-19 10:05] mertbuldur opened #385 "Uncaught Pecee\SimpleRouter\Exceptions\HttpException: Route "/login/" or method "get" not allowed."
Hi ,   My route file is
`Router::get('/login','Application\Controllers\login@index')->name('login');
Router::post('/login','Application\Controllers\login@store')->name('login.post');`

But I have error . My error is
`Fatal error: Uncaught Pecee\SimpleRouter\Exceptions\HttpException: Route "/login/" or method "get" not allowed. in /Applications/XAMPP/xamppfiles/htdocs/udemy2/vendor/pecee/simple-rou

[2018-03-20 02:57] skipperbent commented on #385
Hi @mertbuldur.

- Which version of the library are you using?
- Which version of PHP are you using?

**This could be one of the reasons why you are receiving that error:**
- Most common: Routes are not loaded properly - therefore no routes match the current url.
Solution: You can verify that routes are loaded by calling `SimpleRouter::router()->getRoutes()`.

- `REQUEST_URI` from your webserver i

[2018-03-20 05:10] mertbuldur commented on #385
thank you , @skipperbent  I use now
`// LOAD YOUR ROUTES HERE...

try {
        static::start();
    } catch(\Exception $e) {
}
`
problem is end :)

[2018-03-20 06:04] skipperbent commented on #385
@mertbuldur

I updated the example, it should be `SimpleRouter::start()` instead of `static::start()`.

You shouldn't catch the exception like that - then you won't know whenever a 404 etc. are received and it WILL eventually cause problems as errors are already handled internally by the library.

Try to add this route instead of the ones in your first post and see if that will work:

[code]

**If

[2018-03-20 06:10] mertbuldur commented on #385
My library version is  "pecee/simple-router": "^3.7"
Php Version is 7.1

[2018-03-21 09:00] rachmawatiafrida opened #387 "Pass Config Variable to Router"
Can I pass config data variable to router?

[2018-03-21 10:40] rachmawatiafrida commented on #387
How to return Japanese or something else character to original without decoded?

[2018-03-23 07:33] skipperbent commented on #387
Hi @rachmawatiafrida .

I'm not sure i understand your question.

You can change the regex used for matching parameters if you have problems with japanese characters in paramters:
https://github.com/skipperbent/simple-php-router#custom-regex-for-matching-parameters

/ Simon

[2018-03-24 20:42] skipperbent commented on #385
@mertbuldur

Thanks.

**Can you please please provide the following info:**

- The contents of the callback method.
- The contents generated by the debug code in my previous post.

/ Simon

[2018-03-29 17:15] skipperbent commented on #385
Closing this issue due to inactivity. Feel free to reopen or create a new ticket if you still experience issues.

/ Simon

[2018-03-29 17:15] #385 closed

[2018-03-29 17:15] skipperbent commented on #387
Closing this issue due to inactivity. Feel free to reopen or create a new ticket if you still experience issues.

/ Simon

[2018-03-29 17:15] #387 closed

[2018-04-02 03:42] systemEDOM opened #401 "Routes on paths"
The routes do not work if I have the project for example "localhost/project/public" or "mydomain.com/test"

[2018-04-02 13:10] skipperbent commented on #401
Hi @systemEDOM

Using the library on a sub-path like that is not officially supported yet, however it would be be possible to get it working quite easily.

Remember to change `/local-path` to your own local path (`/project` or `/test`).

## Version 4.1.0.0 or above

Add event that appends your local-environment when running on localhost.

**Example:**

[code]

## Other versions

Wrap your routes i

[2018-04-02 13:13] skipperbent commented on #401
If you run a sub-path both on live and localhost you should just wrap your routes in a group and change the prefix depending on your environment.

[2018-04-03 19:32] Blair2004 opened #403 "Updating the default regex to support on slug with hyphen or dot"
https://github.com/skipperbent/simple-php-router/blob/0fc40f2a82ea19912de1ee255fa5e72cad81fcf4/src/Pecee/SimpleRouter/Route/Route.php#L12

After having reviewed the core, i've noticed that when i add this regex expression :
[code]
that allow a match of following url `/something/{foo}/{bar}` where `foo` or `bar` can be a sting with hyphen '-' or dot '.' like so :

`/something/foo-bar/bar-foo`

[2018-04-04 04:00] systemEDOM commented on #401
Thank you very much i did could fix it. It's cool the routes system

[2018-04-05 10:41] skipperbent commented on #403
Hi @Blair2004 .

Thanks for taking the time to review the code, I really appreciate it.

The `PARAMETERS_DEFAULT_REGEX` const is as sparse as possible to improve the performance and to ensure that the end-user have the full control over how parameters are matched.

If you have routes that contains special parameters, you can easily override the default regular-expression by setting the `defaultPar

[2018-04-05 10:42] skipperbent commented on #401
@systemEDOM

Cool - I'm glad to hear that you fixed your issue and thanks for using the library 👍

[2018-04-05 10:42] #401 closed

[2018-04-05 18:08] Blair2004 commented on #403
Great... is that new ? i've noticed that.

[2018-04-05 18:08] #403 closed

[2018-04-06 10:15] Blair2004 opened #405 "What if two routes matches ? Which one has the priority ?"
Hi again,
i'm facing some situation where in some cases two routes matches. My Concern is there should be a way for a route to have a priority. For example :
`http://example.com/go`
`http://example.com/go/somewhere`

is matched by the following

[code]
in my situation, the route with match method alway respond in both cases "/go" and "/go/somewhere". There should be a way to prevent it by taking i

[2018-04-06 10:32] Blair2004 commented on #405
Hi, i've noticed that the priority is set when a controller return a content.

[2018-04-06 10:32] #405 closed

[2018-04-06 10:53] skipperbent commented on #405
Hi.

As far as I remember the router should match routes in the order they're added.

I'm not sure if the documentation has been updated on this subject, but in the newer versions of the router, it's possible to render multiple routes.

In your case both of your routes should match for GET - however it depends on your callbacks.

If you want the router to stop when a route is matched, you simply r

[2018-04-06 14:37] Blair2004 commented on #405
Yes, that exactly what i've realized.

[2018-04-15 16:57] fallingrock opened #412 "Subdomain routing on root domain?"
Not really a bug, just a question ...

I'm trying to use the router as a basic redirector for subdomains (planning on expanding it later though).

I've got it working fine for full subdomains ... like mydomain.example.com.

If I invoke it without a subdomain, i.e., example.com, I get the following error:

[code]
I'm using the example in the readme to do the redirect ...

[code]
Any suggestions?

[2018-04-17 19:45] mtaylor456 opened #413 "Posting content-type : 'application/json'"
PHP 7.2 apache 2.4

Posting 'application/json' content to the router.

`file_get_contents('php://input')` successfully returns the json content

`router::request()->getInputHandler()->all() ` returns an empty array

The `all()` method only checks this input for  `['put', 'patch', 'delete']`, is this correct?

[2018-04-19 22:20] Blair2004 opened #414 "Issue with php 7.0"
Before, the script was compatible with PHP 7.0 and even previous version down to 5.6. But now it seems like the project is only compatible with php 7.1 and greather. That is nto a  bad thing, but i've received a lot of issue submittion on my item description (even refund request). Hope we can find a wayout for this. You have a great tool, that's why so far i'm using it.

Regards.

[2018-04-22 03:31] skipperbent commented on #414
Hi @Blair2004.

Unfortunately the latest version of the library has been upgraded to support PHP 7+. The reason for this upgrade is that PHP 5.6 is closely reaching it's EOL and will no longer be supported by January 2019. Third party software like HHVM has already dropped support for PHP 5.6 entirely.

If you need to use the library on PHP versions prior to 7.1, you can use version 3.* and below

[2018-04-22 03:40] skipperbent commented on #413
Hi @mtaylor456.

Thanks for using the library and reporting the issue.

You're absolutely right, the check is an error.

I've added a new release containing this fix (version 4.2.0.3):
https://github.com/skipperbent/simple-php-router/releases/tag/4.2.0.3

/ Simon

[2018-04-30 00:23] #414 closed, assigned to nobody

[2018-04-30 08:38] mtaylor456 commented on #413
Thanks

[2018-04-30 08:38] #413 closed

[2018-05-16 12:53] franzipyweb opened #418 "Integration with Symfony"
I tried to use this routing with Symfony response and request. the result is there is always a header showing up.

[2018-05-31 15:44] aristotele opened #419 "Middlewares"
Hi I'm wondering if am I using uncorrectly middlewares, because they doesn't block request. I'm trying to implement an AuthMiddleware but although the request pass through middleware, in case of not authenticated user, it doesn't block to requiring the view associated with the url. Any suggest?

[2018-06-01 13:57] #419 closed

[2018-06-14 16:55] scottfriebel opened #420 "Batch Routes/Calling Routes Directly"
I've been thinking about implementing some batch requests in my application (similar to this https://developers.facebook.com/docs/graph-api/making-multiple-requests) and haven't seen a way to handle this currently.

Is there a way to handle this kind of batch request inside the router system? If not, if I build my own system for breaking the single request into multiple requests, can I call the ap

[2018-08-24 14:27] scottfriebel opened #421 "Incorrectly optional character in route"
I have a route using this string to match a url
`api/v1/users/{userid}/projects/{id}/pages/{pageid?}`

and that matches either
`/api/v1/users/me/projects/8399421535/pages/43`
or
`/api/v1/users/me/projects/8399421535/pages43`

Is this expected behavior? It doesn't seem that it should match the second url.

[2018-08-24 14:34] #412 closed

[2018-08-24 15:27] skipperbent commented on #421
Hi @scottfriebel.

Thanks for taking the time to report the issue.
The fix has been released and is available in the latest version 4.2.0.4.

Feel free to reopen or create another ticket if you experience any further issues.

/ Simon

[2018-08-24 15:27] #421 closed

[2018-08-27 13:36] skipperbent commented on #420
I think you could do this quite easily in a Middleware by finding the routes that matches the urls etc. and then rendering them manually by calling `renderRoute`. Make sure only to render routes that implements the `ILoadableRoute` interface.

Haven't tested this myself, but I think it's possible.

[2018-08-29 19:42] scottfriebel opened #425 "Parse error in PHP-DI with DELETE route"
I'm getting the following errors when making a request that is routed but only with the DELETE request method. Using the exact same url for a GET/POST request, it runs without a problem. I'm using php v. 7.1.19, php-router v. 4.2.0.4, and php-di v. 6.0.3.
The url that I'm getting the error with is `/api/v1/users/me/projects/8399421535/pages/0/photos/1372` and the route is `api/v1/users/{userid}/pr

[2018-08-30 23:58] skipperbent commented on #425
You should move this issue to the php-di GitHub page here:
https://github.com/PHP-DI/PHP-DI

It looks like the `declare` function is not supported in PHP in your environment which is called within the `php-di` library. If you are receiving the error when running unit-tests etc. make sure that the php version in CLI is 7.0 or higher.

Also the parse error could be due to your PHP installation not p

[2018-08-31 12:15] scottfriebel commented on #425
This issue was moved to PHP-DI/PHP-DI#620

[2018-08-31 12:15] #425 closed

[2018-08-31 14:01] scottfriebel commented on #425
@skipperbent Thanks for your response. I did post it in the php-di repo and their response was just a quote of your with an issue with the php version.
It does appear that php 7 isn't being used. I have no idea why it wouldn't be though. I am loading the request from a live web page on a server, not unit tests or any local execution.

Also, like I said, the request loads without a problem with the

[2018-08-31 14:17] scottfriebel commented on #425
Ah hah. Just for future reference if anyone else finds this.. My issue was actually in the web.config file. The php 7 handler wasn't set up to accept the DELETE verb so it was being automatically rerouted to the old php 5.6 handler that was.

Thanks again for your feedback!

[2018-09-01 13:03] skipperbent commented on #425
Hi @scottfriebel.

No problem - I'm happy to hear that you solved your issue 😄

/ Simon

[2018-10-02 12:17] Tahrz opened #429 "Cannot modify header information - headers already sent by"
Hi! I have problem when set as callback Action with ```invoke()``` method.

[code]
and in browser I see:

[code]

[code]
so...  in /www/vendor/pecee/simple-router/src/Pecee/SimpleRouter/Route/Route.php on line 113 we see:

[code]

And yes, i don`t use ```<controller name>@<method name>```

in my case it is ```<action name with __invoke method>```

 ... so  ```$controller[1]``` is empty.

[2018-10-02 12:35] Tahrz commented on #429
so... simple spike fix:

[code]

[2018-11-18 20:34] NateNjuguna opened #432 "BaseCsrfVerifier expects the field name to be "csrf-token""
### Description

The library fails to verify a csrf token in any submitted form on any route. The field is submitted as **"csrf_token"** as said in the docs [here](https://github.com/skipperbent/simple-php-router/#getting-csrf-token):

 but a TokenMistmatchException is thrown. However changing to ***"csrf-token"*** solves the issue as the BaseCsrfVerifier middlware expects this instead as shown in

[2018-11-24 21:36] tafelnl opened #433 "SimpleRouter::get('/page/{var}', function ($var) not working correctly"
Replicate as following:

add a router like this:
`SimpleRouter::get('/page/{var}', function ($var) `

when you type the following URL it will fail:
`https://domain.com/page/abc-xyz`

It is because of the `-` between `abc` and `xyz`

Because when you type the following URL it will resolve correctly:
`https://domain.com/page/abcxyz`

[2018-11-24 23:15] skipperbent commented on #433
Please have a look in the documentation on how to customize the parameters.

https://github.com/skipperbent/simple-php-router#custom-regex-for-matching-parameters

[code]

/ Simon

[2018-11-24 23:15] #433 closed

[2018-11-24 23:30] skipperbent commented on #429
Hi @Tahrz.

Great work on resolving the issue, I'll make sure to include it in the next upcoming release.

Thanks for using the library.

/ Simon

[2018-11-24 23:38] skipperbent commented on #432
Hi @NateNjuguna .

Thanks for the detailed description of the issue, I really appreciate it.

It seems like the `POST_KEY` constant was changed for some reason from `csrf_token` to `csrf-token` like you're describing, however the change was never reflected in the documentation.

I've changed the value back to `csrf_token`. The fix will be available in the next upcoming release.

Sorry for the inco

[2018-11-24 23:49] skipperbent commented on #432
The fix is available in version 4.2.0.6.

/ Simon

[2018-11-24 23:49] #432 closed

[2018-11-24 23:49] skipperbent commented on #429
The fix is available in version 4.2.0.6.

/ Simon

[2018-11-24 23:49] #429 closed

[2018-11-25 20:53] tafelnl commented on #433
Sorry, I should have read the documentation better. Thank you very much for your time. I appreciate it :)

[2018-12-23 13:36] disiri opened #437 "CSRF Token NULL"
Hi,

I have a landing page which has a form.
CSRF token seems like getting set after my routes is called. Because of that csrf_token() always throw null on every first load.

Tested on incognito, only happens every first load. (clear your cache every time you test it)

[2019-01-06 05:46] AndrewDavid opened #438 "Pass model/non-string POST parameters to controller?"
So, here's a super simple breakdown of what I'm trying to accomplish.

I have the following router:
`SimpleRouter::post('/user/login', 'User@login')->setName('userLogin');`

And the related method:
[code]

And I'm trying to pass the POST data cast as the `User` model as a controller parameter.

I know I can fetch the POST data using `$request->getInputHandler()->all();` and then convert that to a

[2019-01-08 21:17] AndrewDavid commented on #438
Ended up doing something like this:

[code]

This is going to become pretty repetitive if I have to write a function like this for each POST route however, so I'm open to suggestions/recommendations if you think there are better ways to handle this!

I know I could potentially write a `BaseController` that contains a routing method and have every other controller extend it. That way, all the POST

[2019-01-08 21:29] AlaaAttya opened #439 "error matching routes with the same url and different methods"
for example

[code]

this shows this error

[code]

[2019-01-08 23:03] AndrewDavid commented on #438
Quick update:

I figured out that I can use `setParameter` method to add a parameter to the route, like so:

[code]

And thought I could get the Middleware to convert that parameter into GET parameters that the router will pass to the class, like so:

[code]

But, as it turns out, the loadedRoute is only populated after the Middleware is processed, so I can't access the route parameters through th

[2019-01-15 10:59] rotichbryant commented on #437
Hi disiri,

i too had the same issue. have you found any solution besides from here?

[2019-01-15 11:20] rotichbryant opened #440 "Csrf Token is invalid"
Hi,
So i have a project that i integrated with php_di version 5.4.6 and the syntax is compatible for php 5.3 and above.
The issue that came up here was that the CSRF-TOKEN
![screenshot_2019-01-15_14-02-2](https://user-images.githubusercontent.com/16875378/51177447-a7439880-18d0-11e9-9fdc-bcca9cdc9ff0.png)
This is what it displays on the hidden input.
Kindly assist.

[2019-01-15 13:06] #440 closed

[2019-01-18 18:04] DeNIKE666 opened #441 "what is the problem"
I need to use the User model

 public function index(User $user) {

 }

Fatal error: Uncaught ArgumentCountError: Too few arguments to function App\Controllers\ListController::index(), 0 passed in W:\domains\tools\vendor\pecee\simple-router\src\Pecee\SimpleRouter\Route\Route.php on line 124 and exactly 1 expected in W:\domains\tools\App\Controllers\ListController.php on line 16

[2019-01-27 11:01] KarelWintersky opened #442 "subdomain routing"
My nginx virtualhost file:
[code]

Code:

[code]
For `fact-group.local` result is
[code]

For `auth.fact-group.local` result is :
[code]

How to prevent parsing all other rules after first match (w/o die() and analogic methods) ?

[2019-01-27 12:22] skipperbent commented on #442
Just return something to stop the router from executing any further routes. In most cases you would just return your view object - returning true would have the same affect.

[2019-01-27 12:34] skipperbent commented on #438
I know it's now exactly what you want, but you could populate the request object with your custom objects - the request object is available throughout the router.

[code]

I'll make sure that the `IInputItem` value property will accept objects in the next release.

[2019-01-27 12:35] skipperbent commented on #437
I will look into this. You could create your own token handler until the issue has been resolved.

[2019-01-27 13:36] DeNIKE666 opened #443 "help me please DI"
Please help me how can I do something so that I could inject a class in my controller

For example:

public function login (User $ user) {
  return $user->id;
  and I can get the new $ User class;
}

I do not work DI.
I always get an error when I try to add a class in the controller controller.

http://prntscr.com/mctajz

[2019-01-28 07:52] Tahrz commented on #443
Hi! Can you show your class for example?

About error, you need send one parameter to method `PathDomain()`

[2019-01-28 07:54] Tahrz commented on #439
Hi! try to use `match()` method

[code]

[2019-01-28 13:38] KarelWintersky commented on #442
I'll try, thank you.

[2019-01-28 14:38] KarelWintersky opened #444 "Documentation: Regular expression constraints"
[code]
Method call uses 2 parameters, but method signature uses 1 parameters (type of array).

May be correct example is:
[code]
?

[2019-01-28 22:22] KarelWintersky commented on #442
Next question:

how to use fixed subdomain:
[code]
for routes `auth.fakt-group.towers.local` and `auth.fakt-group.towers.local/5` ?

[2019-01-29 08:33] skipperbent commented on #442
Unfortunately, you can't pass parameters like that at the moment, as the router won't know how or when to pass parameters to the construct of your class. You should instead use Middlewares to handle your Authentication - and stop the request of the auth failed.

Either that, or pass your parameters individually for each route, or set it as a public property on the request object like so:

[code]

[2019-01-30 09:49] DeNIKE666 commented on #443
I am just passing User $ user, could you help and tell me how to do it right? give your contacts please

[2019-01-30 11:03] Tahrz commented on #443
backer.crown@gmail.com

[2019-02-03 12:17] KarelWintersky opened #446 "setDefaultNamespace() bug"
Default namespace DOES not applied to all routes if declared after them.

[code]
In this case namespace `FactGroup\Units` applied to routes in groups with prefixes `:admin` and `:auth`, but NOT applied to 'simple' routing rules outide group.

Composer trying search for class `Page` outside `FactGroup\Units` namespace and can't find something.
It can be solved with declaring full path to route call

[2019-02-03 12:51] KarelWintersky commented on #446
`SimpleRouter::setDefaultNamespace('FactGroup\Units');`

applies namespace to all non-grouped rules declared AFTER, not ALL rules without any exceptions.

Please, fix.

[2019-02-04 05:31] DeNIKE666 commented on #443
Ну что не знаете как решить эту проблему?

ср, 30 янв. 2019 г., 16:03 Taras Ziabukhin notifications@github.com:

[2019-02-04 07:01] Tahrz commented on #443
Anser on your email

[2019-02-04 11:10] Tahrz commented on #443
So, one more time: you have errors, because method login expect a User type object, and you do not give it.

right method call:
[code]

but it will not a normal login.

correct example for call this method, can be:
[code]

[2019-02-04 11:22] DeNIKE666 commented on #443
Спасибо большое, попробую так сделать как вы говорите.

пн, 4 февр. 2019 г. в 16:10, Taras Ziabukhin <notifications@github.com>:

[2019-02-04 11:38] #443 closed

[2019-02-07 18:01] lcquadros opened #447 "A question about shared hosting Vs. VPS"
Hello, Simon and folks;

Can you guys help me with this one? Does Simple-php-router works with wildcard subdomains on shared hosts? It will be good to know beforehand.

I will start soon a project on AWS infrastructure and another on a shared host and that router will be a great resource.

Thanks in advance.

[2019-02-08 12:09] jatubio opened #448 "Question about rewriting url to another route"
Hello,

I'm rewriting one url to another url's route on boot() method of RouterBootManager. But, when I want to get the url of new route using findRoute('newRouteKey'). But I get nothing because  because 'processRoutes' run after boot() and routes are not loaded and the first line of findRoute() method ($max = count($this->processedRoutes) - 1;) returns 0.

¿They are best place to rewrite one urls

[2019-02-08 12:30] skipperbent commented on #447
Hi there.

It works fine as long as you are url- rewriting the server properly. I've used it on several project requiring custom domains, including aliases (where sub.domain.com is an alias for sub2.domain2.com etc - used to hide the long domain for an image host and make it appear part of the sites domain).

I hope this answered your question.

/ Simon

[2019-02-08 12:47] skipperbent commented on #448
Hi.

I can't remember the behavior for version 3 - you should consider upgrading, it's not a huge hazzle and it would provide you much better support.

You can trigger loading of the routes manually without rendering them by calling the processRoutes method on the Router within your BootManager - not sure if this is a version 4 feature though.

If this doesn't work, like if the router keeps loadin

[2019-02-08 12:50] skipperbent commented on #446
Hi.

Thanks for pointing that out - it sounds like a bug.

I'll do some digging and see what I can do. I will keep you posted.

/ Simon

[2019-02-08 19:51] jatubio commented on #448
Hi,

Thanks for your response. I'm updating my code to v4 and will try to do this:

I will tell you how it was.

[2019-02-08 20:32] jatubio commented on #448
I have tried your solution and it has worked.

Since in your original implementation the call to `processRoutes` is done after the `boot`, I assume it is for some reason.

And, therefore, instead of always forcing a call to `processRoutes` from the `boot`, I have created a custom `Router` class that inherits from yours and I have overwritten the `findRoute()` method to check if the routes have bee

[2019-02-10 12:40] KarelWintersky commented on #446
Found a lifehack:

[code]

[2019-02-12 22:09] nicholaspearson opened #451 "Multi Depth Routing Doesn't Work?"
`SimpleRouter::get('/legal/terms/', 'LegalController@getTerms')->name('legal.terms');
SimpleRouter::get('/legal/privacy/', 'LegalController@getPrivacy')->name('legal.privacy');`

With a URL of /legal/terms simply doesn't work. But it works on my MAC using the Built in PHP web server (php -S 127.0.0.1:8000).

Also, why does it default to /legal/terms/ and not /legal/terms. It doesn't seem to make s

[2019-02-12 23:29] nicholaspearson commented on #451
I've noticed that PHP_SELF is different on my Linux server compared to my MAC.

OSX:
`"PHP_SELF" => "/index.php/legal/terms/"`

Linux Server:
`"PHP_SELF" => "/index.php"`

That was on the same URL.

Any ideas?

[2019-02-13 23:55] nicholaspearson commented on #451
@skipperbent Are you able to advise please?

[2019-02-18 12:42] lcquadros commented on #447
Yes It did. Good to know how far it can go.
Thank you.

[2019-02-20 21:53] jatubio opened #452 "routeRequest() render multiple routes"
Hello,

I have updated to last version, and now, Router->routeRequest() method use a 'foreach' loop instead old 'for' loop. On this loop, in the old versions, if they found one route match, they exit with the last line:

`return $route->renderRoute($this->request);`

But, in the new version of this method, he performs a check to exit the loop:

                    $output = $route->renderRoute($th

[2019-02-26 18:57] jatubio opened #453 "Question: How to set filterEmptyParams=false?"
Hello,

I need to set filterEmptyParams of every loaded route to false.

I have my CustomRouter class, and have overloaded addRoute() method, but I can't change filterEmptyParams property because it's protected.

	class CustomRouter extends \Pecee\SimpleRouter\Router
	{
		/**
		 * Add route
		 *
		 * Ponemos filterEmptyParams a false
		 *
		 * @param IRoute $route
		 * @return IRoute
		 */
		publi

[2019-04-24 10:31] JesseHendriks opened #454 "Passing variable to middleware"
Hello,

Is there a way to send data to the middleware?

I want to use this for roles/permission.

For example, I want to make some routes that only can be accessed by the administrator. He has the role ADMIN, but I am not sure how I can send this in a route to the middleware I'm using for the check.

Hope you can help!

[2019-04-24 10:37] skipperbent commented on #454
Hi.

There's an example in the documentation.

You can easily pass variables by adding the to the request object.

Example:

request()->isAdmin = true.

ons. 24. apr. 2019 12.31 skrev Jesse Hendriks <notifications@github.com>:

[2019-04-24 11:02] JesseHendriks commented on #454
Thank you for your response!

I'm aware of that part, but if I want to add permissions per route, for example, can_edit_news (in my database I added the permissions to the user). I have a route something like this: Router::get('/news/{id}/edit', 'News@edit')->addMiddleware(\App\Middleware\Permission::class);

Is there a way to add to this router an option to send the needed permission (can_edit_ne

[2019-04-24 11:32] skipperbent commented on #454
Maybe I'm misunderstanding. I would add all the routes regardless of the
users permission and wrap those that require permission in a group that
uses the Permission middleware.

Within the Permission middleware i would then check if the users has access
to the route by mapping the route to the permission name (/news/{id}/edit
to can_edit_news etc) and then checking if the user has that permission.

[2019-04-27 10:39] proea opened #455 "getUrl() issues: different data in getUrl() / request()->getUrl() / request().."
Hi.

I noticed that some data is different from request(), getUrl() and request()->getUrl ()

[code]

As you can see data is partially different

there is also no way to get the right URL
https://<host_name>/
however, in the results of processing it is not

request()->isSecure() is **true**
but Router::request()->getUrl()->isSecure() and Router::getUrl()->isSecure() is **false**

so I have to use

[2019-04-27 10:42] proea opened #456 "multi-lang routing and"
Hi!

I'm trying to create multi language routing
And i face some issues

The example below will be slightly different from my real code, but this example accurately describes the problem and works identically to my problem.

My example:
[code]

Results:
[code]

partialGroup( group() ) is not working for me

there is also no possibility to make alias for group or url (like symphony _Localized Routi

[2019-04-29 10:25] KarelWintersky commented on #446
bump!

[2019-05-14 14:00] Arkango opened #457 "How render html page"

[2019-05-15 14:51] Chubinets opened #458 "Закрепить метод за экшеном"
Не знаю почему этого не сделали раньше, может кто то уже это предлагал.
Мое предложение: сделать по умолчанию так чтобы метод закреплялся на экшеном. Например:

HomeController()->postIndex,HomeController()->putIndex и другие

Или же хотя бы это вынести это под галочку

РЕШЕНИЕ:

https://github.com/skipperbent/simple-php-router/blob/153f8630f2abde6c58bb7109f1f8ebd5d23a53e6/src/Pecee/SimpleRouter/Ro

[2019-05-18 22:18] inicio015 opened #459 "Route not found error"
Install the library using composer and create an index.php file to test and I made it simple like this:
[code]

But I'm getting the following error
Fatal error: Uncaught Pecee \ SimpleRouter \ Exceptions \ NotFoundHttpException: Route not found: "/ practices / routing /" in C: \ xampp \ htdocs \ practices \ routing \ vendor \ pecee \ simple-router \ src \ Pecee \ SimpleRouter \ Router .php: 430 St

[2019-06-14 17:28] tahrz commented on #458
Так в примере же метод из контроллера, и кажется так и должно работать из-под коробки. В случае же с экшинами, расчет именно на `__invoke()` метод

[2019-06-14 17:37] tahrz commented on #459
Hi! Have you try to install [demo]( https://github.com/skipperbent/simple-router-demo)?

[2019-06-21 09:35] b3none opened #460 "Add more support for JSON body handling"
Can we add the ability to access data passed via JSON in the body of the request through the regular method as opposed to having to use `input->all()` or `input()->all(['my_field'])`.

[2019-07-18 20:00] realrecordzLab opened #462 "Route not found"
I want to try this nice routing library to have a complete solution that can sobstitute `FastRoute` in my projects. I've installed it using composer and I've created a simple `routes.php` file where I've this code:
[code]
Then I've setted up the `.htaccess` and the `index.php` files in this way:

**.htaccess**
[code]
**index.php**
[code]

If i call the root of my project It will work and the form

[2019-07-19 15:54] realrecordzLab opened #463 "Class does not exist"
As described into documentation, I've added the default namespace for my controllers before call `SimpleRouter::start()` method in this way:

[code]
I don't know if I'm doing it right, but I got this error:

`Fatal error: Uncaught Pecee\SimpleRouter\Exceptions\NotFoundHttpException: Class "Controller" does not exist`

Is there a fix?

[2019-07-21 03:53] #463 closed

[2019-07-21 04:04] realrecordzLab opened #464 "Fatal error: Uncaught Pecee\SimpleRouter\Exceptions\NotFoundHttpException: Route "/event/add/" or method "post" not allowed."
I get always this response message if I post to a configured route using ajax. What's wrong with my configuration?

[code]

The strange thing is that the posted data will be saved inside the database without problems. Another issue I'm having using this library is with the parameters passed using the url. I have this route:
[code]
I need to get the last parameter but the `$_GET` array is empty and

[2019-09-09 21:36] devraizer opened #465 "setName shows both pages"
Hey all,

I have a question. When i add setName method in my route for example:

And after that trying to do a redirect with $request->setRewriteUrl('index.home') i my middleware

[code]

He loads the view 2 times when im i visit the get below

`Router::get('/community/team', 'community\team@index')>addMiddleware(LoggedinMiddleware::class);`

Does anyone know why?

Bryan

[2019-09-10 16:40] devraizer commented on #465
Ok thats because he always want a return false

[2019-09-24 15:18] Zenternal opened #466 "Route not found"
[code]

I've tried so many routers, and I'm just stuck.
My project is based in a directory called /staff
.
I created a file in staff/_include called routes.php, and in my index.php inside staff/ I put
[code]

Inside my global.php file is my link to my autoload.

[2019-10-03 05:47] tahrz commented on #466
Hi! Can you show `routes.php` file?

[2019-10-07 14:53] Misaghahmadi97 opened #467 "default view for requested routes witch didn`t define"
Hello
when we use package and request routes which didn`t defined in Routes , we get FATAL ERROR
is there any way to show 404 or any other code for default routes which not defined ?

[2019-10-09 14:12] tahrz commented on #467
Hi, https://github.com/skipperbent/simple-php-router#exceptionhandlers

[2019-10-09 21:20] inFureal opened #468 "Domain routing"
When I code like this:
[code]
it throws `NotFoundHttpException` "Route not found: "/"

But... When I code with 'variables' with regular expressions it's runnig perfectly.
[code]
__Is it a bug?__

P.S. Sorry for my englandsky :)

[2019-10-09 21:24] inFureal commented on #468
And when I run
[code]
It returns `Route not found: "/{sub}.<domain>/"`. <domain> -it's my real domain, which I hide :)

[2019-10-17 21:14] michaelvcolianna commented on #446
Sorry to bump but this hasn't been addressed in the documentation.

Documentation example:

[code]

But this will throw a `Pecee\SimpleRouter\Exceptions\NotFoundHttpException` on any definitions in routes.php with controller actions – ClassLoader.php line 31. (Note, I haven't tried extending but since the example in the documentation goes routes.php, setDefaultNamespace, start I'm guessing it also

[2019-10-18 12:11] KarelWintersky commented on #458
@Chubinets , плохое решение, потому что провоцирует возникновение "механизма по умолчанию", непрозрачного, неочевидного.

[code]
что теперь куда должно закрепиться?

[2019-10-19 18:47] Chubinets commented on #458
@KarelWintersky

class HomeController
{
    public function getFrom_display_welcome_page ()
    {
         //
    }
}

[2019-10-20 17:45] NGC23 commented on #466
Any Updates here? As i am currently using the package for an api implementation and i have a vue js server running on port 8000 on local and then i have my api on port 8080, both local host, but simple router works on all GET requests, but when i post i get the following:`/dashboard/create - Uncaught Pecee\SimpleRouter\Exceptions\NotFoundHttpException: Route "/dashboard/create/" or method "options

[2019-10-22 10:07] KarelWintersky commented on #458
@Chubinets и что это даст? Что даст этот "сахар", который еще к тому же и несладкий.

Несладкий он в том, что заставляет меня писать методы с другими именами.

Не `HomeController::form_display_welcome_page`, а запоминать неочевидное правило трансляции в
`getForm_display_welcome_page` (а почему не `get_form_display_welcome_page` ?)

Короче, вам надо - делайте под себя форк под свои хотелки.

[2019-10-22 19:58] Chubinets commented on #458
@KarelWintersky хм, каждому свое.

[2019-10-28 12:41] adrianlaraperez88 opened #469 "CORS problem, any solution."
CORS problem, any solution.

[2019-11-02 01:36] OfficialOzioma opened #470 "I've tried so many routers, and I'm just stuck."
**

`Fatal error: Uncaught Pecee\SimpleRouter\Exceptions\NotFoundHttpException: Route not found: "/Startup_structure/" in /opt/lampp/htdocs/Startup_structure/vendor/pecee/simple-router/src/Pecee/SimpleRouter/Router.php:430 Stack trace: #0 /opt/lampp/htdocs/Startup_structure/vendor/pecee/simple-router/src/Pecee/SimpleRouter/Router.php(331): Pecee\SimpleRouter\Router->routeRequest() #1 /opt/lampp/ht

[2019-11-04 23:21] romather opened #471 "Twig template engine"
How inject functions of the helpers.php in twig template engine????

[2019-11-05 15:47] adrianlaraperez88 commented on #470
Hi you try call no existing endpoint can you please put your api routes and call

[2019-11-06 21:20] OfficialOzioma commented on #470
please show me an example of how to do this

[2019-11-12 14:58] KarelWintersky opened #472 "All helper functions MUST be inside namespace"
... and must be used as

[code]
Otherwise name conflict is possible.

Without this I can't get access to this helper function inside my namespace.

[2019-11-12 14:59] KarelWintersky commented on #471
#472 same problem

[2019-12-01 00:13] brandy opened #473 "500 error's if too many 'slash' characters in url"
I have an issue with the Router and was wondering if anyone has had a similar issue or have any idea how to solve this.

I have a route for my homepage as so:
[code]

However If I go to the url `http://site.test//`, I get a 500 error page in Chrome.

Now the same this happens if i have a route for `about`, and do `http://site.test/about//` or `http://site.test//about//`, I will get a 500  error pa

[2019-12-06 19:20] Data-Kiss opened #474 "Trouble with parameters and PHP-DI"
Hello,

I'm having trouble using this library with the PHP-DI library in getting it to pull GET parameters through into my controller. I've tried various different approaches but for some reason it doesn't seem to work and I can't see exactly how I do it in the documentation. It seems to work ok if I append "?customer=123" to the end of the URL, but I'm using pretty urls and it doesn't seem to wor

[2019-12-21 23:40] REOLDEV opened #475 "Route Not Found on groups"
Hey there, i have a big problem..
When i have an 404 Error.. for example when i try to call "http://ucp.vicecity-life.local/fraktion/lol"
i get at the end of the page this error... the 404 page is still displayed o.O

`<b>Fatal error</b>:  Uncaught Pecee\SimpleRouter\Exceptions\NotFoundHttpException: Route not found: &quot;/fraktion/lol/&quot; in E:\DEVSERVER\vhosts\ucp.vicecity-life.local\vendor\

[2019-12-31 16:31] Misaghahmadi97 opened #476 "how send a url as parameter ?"
Hello
I want to send url as parameter but get Error .
url like example.com . any solution ?

[2020-01-15 05:19] drnkwati opened #477 "Why not use a psr container instead"
Hi
This router is very promising. But I hate the fact that it depends on php-di/php-di.
I think we should be using psr11 container interface or better you can create a container Interface to be implemented by the developer.
Lets leave it simple as in simple-php-router. It should not have many dependencies
thanks

[2020-01-17 14:50] markezure commented on #437
Hi...

If anyone is still having problems with csrf_token () ... Just remove return null after if and you're done

[2020-01-24 15:18] KarelWintersky commented on #477
This repo is dead.

No error fixes since end of 2018.

[2020-01-29 12:52] danielsanleo opened #478 "Problem with data sended before headers"
I'm having a tedious problem that I don't know how to solve. I think it's clear that it comes from simple-router programming.

`Version: 4.2.0.6`

I explain. My need is to send the client an image. This image must be pretreated by a controller in order to determine if the user has permission. Well, if I want to send the image from the controller as I show in this code:

[code]

The resulting image

[2020-01-29 14:13] adrianlaraperez88 opened #479 "PUT parameters"
Hi guys, i have a question i try pass paramaters to the bidy json but verbs PUT only take parameters in URL, for what is not same for POST ????

[2020-01-29 14:18] adrianlaraperez88 commented on #476
Hi @Misaghahmadi97, you have 2 options:

`
if( $params && $verb == 'GET' ){
	$url .= '?' . http_build_query($params);
}
`
and another params is part of the route.

[2020-01-29 14:48] adrianlaraperez88 commented on #470
Check in the doc the Author have demo is so good for start

[2020-01-31 12:21] OfficialOzioma commented on #470
i think the code itself has a bug

[2020-01-31 13:29] adrianlaraperez88 commented on #470
Can you please give me route code for check what happened ?

[2020-02-02 20:35] Chubinets commented on #454
В каком месте нужно передать `request()->isAdmin = true`?

[2020-02-03 00:44] Chubinets opened #480 "Передача параметров в middleware из вне"
Мне не очень понравился вариант из коробки, по этому держите мой

1. Заменить функцию **loadMiddleware()**
https://gist.github.com/Chubinets/ec6d98bb974d66639860d68ec6b090fc

2. Создаем файл посредника **middlewares\Access.php**
https://gist.github.com/Chubinets/02a9cbd3cd3f0c3be43bfd3d0a336de8

3. Пример использования
https://gist.github.com/Chubinets/c4935fdd5afb23cf4fffe1aebbacdc0d

Строка разб

[2020-02-05 08:58] OfficialOzioma commented on #470
this the route code

`<?php

use Pecee\SimpleRouter\SimpleRouter;

SimpleRouter::start();

SimpleRouter::get('/foo', function() {
    return 'foo';
});

SimpleRouter::get('/foo-bar', function() {
    return 'foo-bar';
});
`

[2020-02-05 08:59] OfficialOzioma commented on #470
### @adrianlaraperez88 and this the error am getting

Fatal error: Uncaught Pecee\SimpleRouter\Exceptions\NotFoundHttpException: Route not found: "/payroll/foo/" in /opt/lampp/htdocs/payroll/vendor/pecee/simple-router/src/Pecee/SimpleRouter/Router.php:430 Stack trace: #0 /opt/lampp/htdocs/payroll/vendor/pecee/simple-router/src/Pecee/SimpleRouter/Router.php(331): Pecee\SimpleRouter\Router->routeReq

[2020-03-02 15:43] jangofett4 opened #481 "Always using same route"
### Description

Library always decides '/' route, even though url is '/login' (or anything)

### Steps to reproduce the error

1. Add the following route:

[code]

2. Navigate to `localhost/login` in browser.

3. Outputs 'Selected main route'

- No need to add a secondary route, any url basically routes to '/'

- htaccess files are allowed from apache config
- htaccess file:
[code]

### Debug inf

[2020-03-07 02:01] afatoga commented on #459
in demo app, file: CustomExceptionHandler.php

change line 39, to:
$request->setRewriteCallback('Demo\Controllers\DefaultController@notFound');

there was missing a word 'Demo\' in the given path.

[2020-04-05 02:11] romather opened #482 "Deprecated warnings"
![image](https://user-images.githubusercontent.com/47756883/78465247-67312700-76c9-11ea-9874-acc5bc2ed061.png)

Updating package have some warnings about package jeremeamia/superclosure

[2020-04-23 15:05] danalmeida commented on #482
[jeremeamia/superclosure](https://github.com/jeremeamia/super_closure) is a dependency of [PHP-DI](https://github.com/PHP-DI/PHP-DI). See [PHP-DI #711](https://github.com/PHP-DI/PHP-DI/issues/711).

[2020-04-24 13:15] romather commented on #482
Closing this question! Thanks for attention !!!

[2020-04-24 13:15] #482 closed

[2020-04-28 03:34] novayadi85 opened #483 "Prefix problem in post method"
Hi ,

I am trying use prefix but when post data with ajax, its always switch as get method.
Any trick to solve my problem?

[2020-05-29 14:36] Ryan-Pell commented on #454
Im having a similar issue with passing though a varable to the middleware. I have differnt permissions to check on each get.

[2020-06-12 04:47] makkanimation opened #484 "Fatal error: Uncaught Error: Class 'SimpleRouter' not found"
I am getting above issue when i include your package inside index.php
Here is the code which i use:

[code]
It always giving me 500 error mentioning :

*Fatal error: Uncaught Error: Class 'SimpleRouter' not found in /var/www/html/.rest/kl/routes/routes.php:2 Stack trace: #0 /var/www/html/.rest/kl/index.php(7): require_once() #1 {main} thrown in /var/www/html/.rest/kl/routes/routes.php on line 2*

[2020-08-18 15:02] tahrz commented on #484
Hi! Can you show your **routes.php**?

[2020-08-18 15:05] tahrz commented on #480
Лучше закинь пул реквест - хотя автор давненько не заглядывал сюда...

[2020-08-20 09:23] thinklifepot opened #485 "I will like to use this project"
**Hi Please will like to find out if this project is still maintained**

[2020-08-31 21:05] 1337Zerstoerer69 commented on #485
_**He nø sis is not mäintend änimoar**_

[2020-10-13 06:28] bmcminn commented on #469
Would be helpful if you provided more context around your issue.

What CORS error are you getting?

What browser are you using?

Are you using cURL, raw XHR, an AJAX library, etc?

A code sample of the route having the issue?

[2020-10-30 16:28] esjdev opened #488 "Problem with router"
**If I try to call uuid in the URL like this:**

`d1cc4e86-e834-4e35-8d4a-ccf53cd65f95`

**It returns error 500 to me. However, if I execute the same, without the lines, like this:**

`d1cc4e86e8344e358d4accf53cd65f95`

It works, though, I need it to work with the strokes.

**know how to solve it?**

[2020-10-30 18:04] #488 closed

[2020-11-10 10:45] greentaxi-com opened #489 "404 error route not found"
This is my page:

require dirname(__DIR__, 1) . "/vendor/autoload.php";
use GT\Core\Init;
use GT\Core\Helper;
use Pecee\SimpleRouter\SimpleRouter as Router;
use Pecee\Http\Url;
use Pecee\Http\Response;
use Pecee\Http\Request;

Init::displayErrors();
Router::start();

Router::get('/', function() {
    return 'Home';
});

Router::get('/search', function() {
    return 'Search';
});

Router::get('/40

[2020-11-15 14:36] mmdm95 opened #490 "input find method has different output with normal global methods!"
Hi, thanks for this nice library.

### Issue

There is an issue with `find` method inside of `inputHandler` class.
If use `value` (internally it uses `find` method) or `find` method directly, it returns `NULL` on some values but if use global methods directly like `$_GET['file']` or `all` method from `inputHandler` class, it returns correct value.

**The value is not an empty string**

### Example

[2020-11-21 18:11] mmdm95 opened #491 "Problem with finding some headers"
Inside `Request` class and inside `construct` method you have following code that behave wrong (at least for me!)

[code]

I replace this with below code to have some headers like `X-CSRF-TOKEN` that was not recognizable before

[code]

[2020-12-01 06:02] parkerj commented on #489
That is because based on your code above, you don't have an `/error/` route defined. On the other hand, based on your `404` route that __is__ registered, according to the example in the readme, something like this should work:
[code]
The above code should redirect you to your `/404` route.

[2020-12-07 21:13] akwatra commented on #484
Hi, @tahrz
I had the same issue, I got it resolved.
use below as routes.php  Or use the "use Pecee\SimpleRouter\SimpleRouter;" in top of your routes.php file, it will work.

file: routes.php
[code]

**Usage of this inside sub-directory or folder:**
If you are using this as under a sub-directory or folder then you will have to put your sub-folder name prefix with route, ex:

[code]
Hope this helps.

[2020-12-10 20:43] slanden commented on #469
I can't say for the OP, but I'm having an issue with CORS as well.

index.php:
[code]

My routes are in a separate `routes.php`. The client still gets a CORS error with the relevant headers set.

After adding a route for the pre-flight `options` request,

[code]
the following `post` request succeeds, but without the `options` route handler it fails with a 403 and a cors error on the client.

[2021-03-05 11:48] greentaxi-com opened #492 "NotFoundHttpException when Route URLs are the same."
Hi,

I have four routes and when I call any route I am getting a Pecee\SimpleRouter\Exceptions\NotFoundHttpException - Route "/supply/a49503dd-be09-4641-92e5-a079b11ff367/" or method "post" not allowed.

    Router::post('/supply/{operatorUUID?}/{supplyUUID?}/', function ($operatorUUID = Null, $supplyUUID = Null) { /* Authentication::Authorise($operatorUUID); */
        $supply = new Supply($opera

[2021-03-15 12:34] Malekfar opened #493 "Route not working with (Persian || Arabic) parameters"
I have a problem with Persian or Arabic parameters in route.

That is my route:
Route::get('/foo/{name}', function($name) {
   return $name;
});

That is My URL in browser:
http://mysite.dev/foo/نام

And browser shows :
Fatal error: Uncaught Pecee\SimpleRouter\Exceptions\NotFoundHttpException: Route not found: "/foo/%D9%86%D8%A7%D9%85/"

[2021-03-17 18:23] skipperbent commented on #460
Hi.

Sorry for the late response. I think the reason it doesn't parse the json data (only when using the `all()` method) was to keep performance high and because of the fact that it's hard to determine what type of response the body is (post, get, file etc). Maybe there's a workaround or I'm wrong - but that's the reason behind it only being available in the all method.

Great fix- I'll make sure

[2021-03-17 19:31] skipperbent commented on #492
I can see how those routes would cause an error. The routes will match, even when the request-method is not allowed depending on what order they're added - causing an error. The router will not check if other routes exists with the same exact url, it will just throw an error right then and there.

You might want to look into the `resource` option instead and create a `Controller` that implements t

[2021-03-17 19:32] skipperbent commented on #493
Wrap your routes in a group that uses custom regex that matches your language.

[code]

[2021-03-18 01:23] skipperbent commented on #469
![2021-03-18_02-17-19](https://user-images.githubusercontent.com/634762/111559081-2a522900-8790-11eb-848e-14cf1b23c1fc.png)

I'm having a hard time reproducing the error. When using postman i get the correct results using the example you provided on Apache running on MAMP with PHP 7.4.

You can try to use the debug feature of the simple-router. It can help you to show what headers the server are s

[2021-03-18 01:24] #479 closed

[2021-03-18 01:31] skipperbent commented on #472
Hi.

Thanks for your feedback.

The `helpers.php` was originally intended to be optional and copied into whatever project you were using. It's rarely changed and when changes occur it will be specified in the changelog for the release.

I can add it to the library as part of the namespace if that makes it easier to manage within Twig?

/ Simon

[2021-03-18 01:31] skipperbent commented on #471
Please refer to issue #472

[2021-03-18 01:31] #471 closed

[2021-03-18 01:38] skipperbent commented on #468
Please post the simple-router debug information.

If you are using subdomains with special characters you might have to set your own regex to catch it.

[2021-03-18 01:52] skipperbent commented on #437
This issue will be resolved in upcoming release (version 4.3.0.0).

[2021-03-18 01:57] #442 closed

[2021-03-18 02:02] skipperbent commented on #452
Hi.

You can stop the router from executing any other routes by returning the contents to it or using the exit function.

[code]

[2021-03-18 02:07] skipperbent commented on #455
Try updating to the latest version 4.0+ and see if you are still experiencing the issues.

[2021-03-18 02:10] skipperbent commented on #470
Read the readme and download this project. Your routes won't work if they have special characters (_ etc) without a custom regex (see manual).

https://github.com/skipperbent/simple-router-demo

[2021-03-18 02:10] #470 closed

[2021-03-18 02:40] adrianlaraperez88 commented on #469
@skipperbent only you reproducing this error if you send a ajax request

[2021-03-18 02:45] skipperbent commented on #469
Is it possible to reproduce the error in postman? That will make it a lot easier to debug

[2021-03-18 03:08] skipperbent commented on #469
I'm still unable to reproduce it with ajax using Brave / PHP 7.4 / MAMP / Apache running on MacOS.

**Router**

[code]

**Ajax**

[code]

![2021-03-18_04-04-39](https://user-images.githubusercontent.com/634762/111567509-6345ca00-879f-11eb-8c0b-1608e7e59e0e.png)

[2021-03-18 09:28] jatubio commented on #452
Hi, thank you for reply :)

It was so much time ago that I can't barely remember what was my problem. I checked my code and I think that my problem was that my rendering route methods were rendering the content by themselves and don't returning anything.

So, I changed them to return `true`. Then, `SimpleRouter` was printing that `true` as `1` on my pages. So I override  `start()` method to return

[2021-03-18 13:15] skipperbent commented on #478
In your routes try added return statement at the end like so.

[code]

If that doesn't help and reading a file with php works, i would start to uncomment lines in your File class to ensure that nothing is disturbing the output.

[2021-03-18 13:18] skipperbent commented on #491
What webserver are you using? I would be greatfull if you could post your debug-info (see documentation), it will help me debug the error and contains vital information about your webserver and it's header format.

[2021-03-18 13:24] skipperbent commented on #485
The project is still maintained.

[2021-03-18 13:24] #485 closed

[2021-03-18 13:27] skipperbent commented on #476
You have to add a custom regular expression if you want to sent special parameters that contains characters than doesn't match `[\w]+` (`a-z`, `A-Z`, `0-9` and `-`). Next version (4.3.0.0 will support `-` too by default).

https://github.com/skipperbent/simple-php-router#custom-regex-for-matching-parameters

[2021-03-18 13:27] #476 closed

[2021-03-18 13:31] skipperbent commented on #473
Error 500 is just an indication that something went wrong from the webserver. You have to enable php-errors or view the log to find the actual error.

Multiple slashes works perfectly in my tests (they're stripped and by the router) in the latest version of the router. Can't say for the older versions though.

[2021-03-18 13:36] skipperbent commented on #451
What webserver are you using? What version of simple-router are you using? I'm running multiple project on Apache and Nginx on Debian with no problems and I do not have the problem with additional slashes (/) in paths in the latest version.

Please read the debug section of the documentation and post the of your contents simple-router debug-info here.
It contains information about your linux-webse

[2021-03-18 15:42] adrianlaraperez88 commented on #469
@skipperbent  simple-php-router and ajax call is in same IP/Server if is yes no give to you this error because have same IP, need different IP, and ty for the help

[2021-03-18 16:45] skipperbent commented on #469
The test above is on the same IP. I think different IP's might trigger some crossdomain policy ajax restrictions. Back in the good old flash days you had to add a crossdomain.xml policy file on the host site to allow remote request. But there might be some workarounds now-adays, like jsonp:

https://learn.jquery.com/ajax/working-with-jsonp/

[2021-03-18 20:49] mmdm95 commented on #491
Hi, thanks for reply.

As I mentioned before, I test `X-CSRF-TOKEN` header and request class was not able to detect it.

1. I am using `apache` webserver
2. I did send a request through `ajax` with `post` method
3. and add csrf token in `X-CSRF-TOKEN` header
4. It'll throw `TokenMismatchException` inside `BaseCsrfVerifier` class because it could not detect csrf token
5. the token was not under  `x

[2021-03-18 21:21] skipperbent commented on #491
Hi again.

Thanks for the feedback and the detailed explanation, I really appreciate it!

From what you are describing it sounds like the browser and/or ajax is adding some additional naming to the header. I will do some testing and try to add support for better header parsing; it seems like webservers and browsers all have their own ways of specifying the headers.

Great ideas! I will fix the url

[2021-03-18 21:41] skipperbent commented on #491
I cannot recreate the `url('somewhere')->getRelativeUrl()`. Seems like it correctly trimmed on both the `getAbsoluteUrl` and `getRelativeUrl` methods.

I've tried routes like `/contact` and `/contact/`.

[2021-03-20 12:14] DeveloperMarius opened #496 "Trying to create a pull request"
Hello,

I am using git for a while now, but I never created a pull request. I have some changes I wanted to share with/ offer you, but I'm kind of stuck. I cloned the project, switched into the v4-development branch, created a new branch using "git checkout -b name-of-branch", changed the code, commited and now want to push using "git push origin name-of-branch". But I just get a permission error.

[2021-03-20 12:22] skipperbent commented on #496
Hi Marius.

You can clone the project to your own account, create a new branch there based on the v4-development etc, make your changes and push it to your own new branch.

Then you can go to pull request and create a new one - GitHub will ask you to share the pull request with the original owner (me). If you do this, the pull request will be available on my pull request list and I'll be able to c

[2021-03-20 12:53] DeveloperMarius commented on #496
Hello,

Thank you. I created the pull request.
Looking forward to write with you over there.

~ Marius

[2021-03-20 12:53] #496 closed

[2021-03-21 05:30] skipperbent commented on #465
Hi Bryan.

Did you resolve your issue?

/ Simon

[2021-03-21 05:31] #460 closed

[2021-03-21 06:41] skipperbent commented on #456
Sorry for the late reply.

The issue with child-routes not loading correctly will be fixed in the next upcoming release.

[2021-03-21 11:04] DeveloperMarius commented on #483
Hello,

can you share your routes.php or the affected get and post route?

~ Marius

[2021-03-21 12:59] skipperbent commented on #483
Please share you ajax code. Try posting your ajax-code and add `print_r($_SERVER)` in your route and post the contents here. The server variable will have information from the webserver about the request-method.

[2021-03-21 21:36] miko1991 opened #503 "Start of string and end of string dont match the route"
Hello,
I have a /admin route that loads a view that has react in it. So the routes can be like /admin/asd/bec/123 and so on. I used regex

@^\/admin\/?(.*)@i

but that doesnt match the route. What am i doing wrong?

[2021-03-22 08:26] skipperbent commented on #503
Try escaping the forward slash

`/^\/admin\/?(.*)/i`

https://regex101.com/r/grS7El/1

[2021-03-22 09:47] miko1991 commented on #503
its not why. its because the LoadedRoute looks at the host url AND the request uri. can you change it so that it only looks at request uri? why does it look at host url at all???

[2021-03-22 10:05] skipperbent commented on #503
It needs to look at the host-uri in order to determine if the correct host is used. You can setup the routes so it only matches on specific domains. However in your case it will just pass the test.

*Sample below passes and returns `match` as intended *

[code]

Please provide your `routes.php` if you need additional help.

[2021-03-22 12:36] miko1991 commented on #503
doesnt work for me. my code

[code]

[2021-03-22 12:37] miko1991 commented on #503
Route not found: "/admin/"

[2021-03-22 12:47] miko1991 commented on #503
Loadable route does the following
[code]
It matches the pattern against the host + url. so the ^ will always fail, because the string matched doesnt start with /admin/. change this please

[2021-03-22 12:51] miko1991 commented on #503
[code]
please update the package with the following code, it matches.

[2021-03-22 13:08] skipperbent commented on #503
Hi Miko.

You're right, I'm sorry - seems like it only applies to custom regular expressions. The default regex handler doesn't even use the `host` either as that check is done elsewhere.

Seems like the reason the test succeeded was that no hostname was defined.

I've changed the code as you suggested and added hostname to the `TestRouter`.

[2021-03-22 13:25] skipperbent commented on #490
Hi mmdm95.

Can you provide an example of a value that aren't found when using the `input` helper? Or does this issue you are experiencing apply to all values? Do you get the value if you don't specify a request-type?

Thanks.

/ Simon

[2021-03-22 13:33] miko1991 commented on #503
cool thanks :)

[2021-03-22 13:33] #503 closed

[2021-03-22 13:35] miko1991 commented on #503
please update the package for composer as well

[2021-03-22 13:48] skipperbent commented on #503
The changes will be available on composer upon release of version 4.3.

[2021-03-22 13:51] #457 closed

[2021-03-22 13:56] skipperbent commented on #480
Please keep the issues in english otherwise I can't help you.

[2021-03-22 13:56] #480 closed

[2021-03-22 13:58] skipperbent commented on #475
Try this

[code]

[2021-03-22 14:06] miko1991 commented on #503
cool, when will that be ca?

[2021-03-22 14:07] skipperbent commented on #453
Hi jatubio.

I've added the option to enable or disable the `filterEmptyParams` parameter on the `IRoute` interface. The changes will be available on the next release (version 4.3).

[2021-03-22 15:58] DeveloperMarius opened #506 "What do you think about a maintenance mode?"
Hey,

I asked myself what do you think about some sort of maintenance mode that blocks all requests and just returns a specified html/controller-method/callable.
Just people who are on the IP whitelist can use the router normal.

~Marius

[2021-03-22 16:06] skipperbent commented on #446
This is correct. The `setDefaultNamespace` is handled by the `SimpleRouter` class and aren't compiled at runtime.

I've changed the behavior so default-namespace are now done when calling `SimpleRouter::start` which should resolve the issue.

[2021-03-22 16:12] skipperbent commented on #506
Would be nice if you could specify some more rules on a group like ip adresses for restricted access.

[2021-03-22 16:14] DeveloperMarius commented on #506
True, that in general is a great idea. Also you could specify a browser to block IE for example^^
Can I look more into it and then create a pull request so we can discuss this a bit deeper?

[2021-03-22 16:14] skipperbent commented on #444
Thanks for fixing the issue!

[2021-03-22 16:17] skipperbent commented on #506
Sure, go for it 👍

If you know how to setup php-units for GitHub so that pull-requests are automatically tested I would be grateful if you could help me with that. I've done it on my other projects like `pecee/pixie`, but can't remember how I did it 😄

[2021-03-22 16:25] skipperbent commented on #503
Very soon. Within the next week - maybe before, however it depends on the issues. It takes time to sort through them, as most of them are people that don't want to read the documentation or have very bad description which makes it hard to even know if it's an issue or just user error. But I'm working as hard as I can to make everyone happy - you can follow the changes in the Version 4.3 pull-reque

[2021-03-22 16:26] DeveloperMarius commented on #506
👍🏻
I think you mean GitHub actions? I have never worked with them, but I can look into it^^

[2021-03-22 16:29] #447 closed

[2021-03-22 16:34] #506 closed

[2021-03-22 17:05] skipperbent commented on #448
Hi jatubio.

I'm glad you got it working!

I think the reason for the placement of the bootmanager is due to legacy. In version 3 route-rendering was done in `processRoutes`, but in this version it's done separately, so I've moved the bootmanager below as you suggested.

The fix will be available in the upcoming release version 4.3.

Have a nice weekend!

[2021-03-22 18:33] skipperbent commented on #452
Hi Jatubio.

Thanks for the detailed example and explanation, I really appreciate it. I've added an option for the router `SimpleRouter::enableMultiRouteRendering` where the multi-routing feature can be disabled (alias for `SimpleRouter::router()->setRenderMultipleRoutes($bool)`.

Unfortunately I can't set it as disabled per default as this will break peoples installation. This might be disabled b

[2021-03-22 18:51] skipperbent commented on #464
Are you still experiencing the issue?

You parameter `id` is not a `$_GET` parameter. It will be passed on to the `searchEvent` method.

[2021-03-22 18:52] #467 closed

[2021-03-22 18:52] #473 closed

[2021-03-22 18:54] skipperbent commented on #465
The next version (4.3) you will be able to disable multi-route rendering by using the `SimpleRouter::enableMultiRouteRendering(false)` - which will enable you not to return any value.

[2021-03-22 18:54] #465 closed

[2021-03-22 18:57] skipperbent commented on #454
I'm glad you managed to resolve the issue :)

[2021-03-22 18:57] #454 closed

[2021-03-22 18:57] #493 closed

[2021-03-22 18:58] skipperbent commented on #492
Hi.

The next version (version 4.3) will allow you to add multiple routes with different request-types.
It's not possible with the current release.

/ Simon

[2021-03-22 19:00] skipperbent commented on #418
I'm sorry I'm not qualified enough to help you with the Symfoni integration as I do not have the required experience with the framework. Hopefully someone else here can assist you?

[2021-03-22 19:05] skipperbent commented on #466
You can force the router to use any request-type - by using post and setting the `_method` value to whatever request-type you want `_method=PUT` etc.

Otherwise it will be helpful if you posted your `routes.php` a long with the router-debug information (see documentation) as it contains vital information about your server, php-version and headers.

/ Simon

[2021-03-22 19:15] skipperbent commented on #462
What is the url when the form is submitted?

I'm assuming your form is a search form that doesn't post?

You need to make your search parameter optional if you want it to work without any search-queries.

[code]

Depending on how `event` parameter is formatted, you might want to look into custom parameter regular expressions if you are using special characters.

https://github.com/skipperbent/simp

[2021-03-22 19:16] #459 closed

[2021-03-22 19:26] skipperbent commented on #481
Hi thanks for the detailed issue!

Did you change the formatting of the debug-info, for some headers have some incorrect formatting. Basicly everything containing `i` has it's letter uppercased, for instance `server_admIn`, `redIrect_url` etc.

Most importantly is this:
`'request-urI' => '/login'`

It's correct - but simple-router can't find it due to the formatting. The thing is, this is the head

[2021-03-22 22:32] skipperbent commented on #489
Do you get the same error when dying directly in the error handler?

[code]

[2021-03-22 22:42] skipperbent commented on #477
The php-di was a feature request by someone else. I was against it at first, because I wanted people to create their own implementations by overwriting the functionality of the router - but I was convinced and the feature was implemented.

Now we're here and a new hot thing is replacing php-di. Tomorrow it's something else.

I think you're right that the router should be as simple as possible and

[2021-03-22 22:50] skipperbent commented on #477
Thanks for the nice words by the way. Let me know what you think will be a solution that could satisfy everyone.

/ Simon

[2021-03-23 00:29] skipperbent commented on #474
Hi.

php-di support will be removed in next version of simple-router to allow users to use their own favorite dependency injection framework. It should be up to the developer that uses simple-router to choose which software they prefer and want to use in their project.

/ Simon

[2021-03-23 00:51] skipperbent commented on #484
Hi makkanimation.

Are you still experiencing issues with the project?

[2021-03-23 08:01] greentaxi-com commented on #492
That's great, I look forward to the release!

Oddly further up my router config I have multiple request-methods on the same route in the following structure and this doesn't cause the same issue. I initially thought it was the order of the request-methods, but I have played around with the order and haven't got the example above working in a different order.

Router::post('/passenger/', function (

[2021-03-23 08:03] greentaxi-com commented on #489
Yes I got this working within an error function. Thanks.

[2021-03-23 08:03] #489 closed

[2021-03-23 10:15] realrecordzLab commented on #464
Honestly I don't remember,it's passed too much time. I don't have anymore the code of the project where I've used this library, sorry.

[2021-03-23 10:15] #464 closed

[2021-03-23 10:35] mmdm95 commented on #490
Hi Simon, thanks for reply.

I changed some codes inside library but I think the issue is like this:

- I test it in a simple form submit with following code and results are:

**Method is POST here**

[code]

- I test it in ajax

**Method is POST**

`If method is post, results will be same as simple form submit.`

**Method is GET**

[code]

I did not test it on `file` but I think it must be someth

[2021-03-23 11:04] jangofett4 commented on #481
Ah man, it's been pretty long since I opened this issue I forgot that this existed. I'll be trying to re-produce it today. But the way you pointed out the debug information ('i' -> 'I'), it sounds like a localization problem (which might have gone away).

[2021-03-23 11:15] skipperbent commented on #481
I'm sorry for the late response. I'm glad you got it working in the meantime. If you can reproduce the error let me know so I can add some workarounds in the project to avoid any future errors like this.

And thanks for your detailed issue-description, it was really helpful.

/ Simon

[2021-03-23 11:38] skipperbent commented on #492
Hi green-taxi.

Well, it can sort of work, but not as intended - it all depends on what order the routes are added and what reqeuest-type they have. However if a route fails (not allowed exception) it will stop trying any of the other routes. I think the route will fail if you place a post route as the first route in your last example and do a `get` request.

In the next release the dash in parame

[2021-03-23 15:05] skipperbent commented on #489
I'm glad you got it working. Thank you too sir and have a nice day!

[2021-03-23 15:09] skipperbent commented on #490
Try and see if the upcoming version 4.3 has fixed your issues. There was some issues with header parsing - especially the `request-type` header, that might have caused some input-fields not to be populated correctly when using ajax in certain circumstances.

/ Simon

[2021-03-23 21:18] #462 closed

[2021-03-25 21:57] inFureal commented on #468
Sorry for late response.
I not logner maintaining that project. So this issue no longer actual. you can rely only on the available data.

[2021-03-25 22:25] skipperbent commented on #468
Thanks for the reply! I will add some unit tests to see if I can replicate the issue. Can you remember the domain name you used - if it had special characters, was a local domain etc?

Thanks

[2021-03-26 00:34] skipperbent commented on #468
Thanks for taking the time to report the issue. I found the bug and a fix will be available in the upcoming version 4.3.

[2021-03-26 22:22] #481 closed

[2021-03-28 23:19] #444 closed

[2021-03-28 23:21] skipperbent commented on #492
This issue has been resolved in version 4.3.0.0.
Feel free to open another issue if you are still experiencing issues.

[2021-03-28 23:21] #492 closed

[2021-03-28 23:22] skipperbent commented on #491
This issue has been resolved in version 4.3.0.0.
Feel free to open another issue if you are still experiencing issues.

[2021-03-28 23:22] #491 closed

[2021-03-28 23:22] skipperbent commented on #468
This issue has been resolved in version 4.3.0.0.
Feel free to open another issue if you are still experiencing issues.

[2021-03-28 23:22] #468 closed

[2021-03-28 23:22] skipperbent commented on #456
This issue has been resolved in version 4.3.0.0.
Feel free to open another issue if you are still experiencing issues.

[2021-03-28 23:22] #456 closed

[2021-03-28 23:22] skipperbent commented on #453
This issue has been resolved in version 4.3.0.0.
Feel free to open another issue if you are still experiencing issues.

[2021-03-28 23:22] #453 closed

[2021-03-28 23:22] skipperbent commented on #448
This issue has been resolved in version 4.3.0.0.
Feel free to open another issue if you are still experiencing issues.

[2021-03-28 23:22] #448 closed

[2021-03-28 23:22] skipperbent commented on #446
This issue has been resolved in version 4.3.0.0.
Feel free to open another issue if you are still experiencing issues.

[2021-03-28 23:22] #446 closed

[2021-03-28 23:22] skipperbent commented on #452
This issue has been resolved in version 4.3.0.0.
Feel free to open another issue if you are still experiencing issues.

[2021-03-28 23:22] #452 closed

[2021-03-28 23:23] skipperbent commented on #439
This issue has been resolved in version 4.3.0.0.
Feel free to open another issue if you are still experiencing issues.

[2021-03-28 23:23] #439 closed

[2021-03-28 23:23] skipperbent commented on #438
This issue has been resolved in version 4.3.0.0.
Feel free to open another issue if you are still experiencing issues.

[2021-03-28 23:23] #438 closed

[2021-03-28 23:23] skipperbent commented on #437
This issue has been resolved in version 4.3.0.0.
Feel free to open another issue if you are still experiencing issues.

[2021-03-28 23:23] #437 closed

[2021-03-28 23:23] #490 closed

[2021-03-28 23:23] #484 closed

[2021-03-28 23:23] #483 closed

[2021-03-28 23:24] skipperbent commented on #469
Please see if the new version 4.3.0.0 resolves your issue.

[2021-03-28 23:24] #458 closed

[2021-03-28 23:24] skipperbent commented on #477
This issue has been resolved in version 4.3.0.0.
Feel free to open another issue if you are still experiencing issues.

[2021-03-28 23:24] #477 closed

[2021-03-28 23:25] #451 closed

[2021-03-28 23:25] #466 closed

[2021-03-28 23:25] #475 closed

[2021-03-28 23:25] #474 closed

[2021-03-28 23:25] #418 closed

[2021-03-28 23:25] #455 closed

[2021-03-28 23:25] #469 closed

[2021-03-28 23:26] #478 closed

[2021-03-29 09:46] KarelWintersky commented on #472
What do you wish for?
No responce needed. Just do it.

[2021-03-29 15:36] skipperbent commented on #472
Why not create the class in your project like it was intended?

[2021-03-29 18:21] KarelWintersky commented on #472
Because now your helper functions are in global namespace.

So, your `function redirect()` can broke other code (duplicate declaration, etc)

[2021-03-29 20:48] skipperbent commented on #472
The `helpers.php` is not included by composer in the autoload. It's included in the root of the project and not part of the package. If you have issues with `redirect` duplicate, please check that you haven't required the `helpers.php` and create your own version for your specific project.

[2021-03-30 10:18] KarelWintersky commented on #472
ok.

[2021-03-30 10:18] #472 closed

[2021-04-15 19:44] Hermholtz opened #537 "Add example how to define a catch-all route"
Please provide an example on how to define a route that matches any URL not explicitly defined.

[2021-04-15 19:53] skipperbent commented on #537
Here's one way of doing it.

https://github.com/skipperbent/simple-php-router#regular-expression-route-match

[code]

[2021-04-27 05:25] Carsak opened #538 "Deprecated: call_user_func_array() expects parameter 1 to be a valid callback, non-static method"
I ve tried add simple route:

`SimpleRouter::post('/todo/add/', [\App\Controller\TodoController::class, 'add']);`

But have this deprecated message:
`Deprecated: call_user_func_array() expects parameter 1 to be a valid callback, non-static method App\Controller\TodoController::add() should not be called statically in`

My controller:

[code]
PHP version: 7.4.16
Nginx 1.19.10

Is it normal?

[2021-04-27 13:40] #537 closed

[2021-04-27 13:41] skipperbent commented on #538
Which version of the router are you using? Please check that you are using the latest version.

/ Simon

[2021-04-28 07:10] Carsak commented on #538
I use "pecee/simple-router": "4.3.2.1" version

[2021-04-28 07:15] skipperbent commented on #538
Does it work when you use 'TodoController@add' in your route?

[2021-04-28 07:19] Carsak commented on #538
Yes, routing working properly. If I go to url [localhost/todo/add](url) I see
`Add function called` text

[2021-04-28 07:21] skipperbent commented on #538
Strange.. Do you get the same error when using "Controller@Method" and do you get the same error on all routes?

[2021-04-28 07:23] skipperbent commented on #538
For example

[code]

[2021-04-28 07:26] Carsak commented on #538
I will try to test later. At this moment I have not opportunity to test

[2021-04-28 07:29] skipperbent commented on #538
Please do, if you don't get the same error it could be a issue with the class hinting. I will do some testing myself and let you know if I find the cause.

Thanks for reporting the issue :)

[2021-04-28 07:49] DeveloperMarius commented on #538
Hey,
Thats realy strange.
I tested the following case:
[code]
and I get no error using PHP 7.4.6.
Can you try to switch to the lastest PHP 7.4.6 and try it again? I think it have something to do with that.

~ Marius

[2021-04-28 07:50] DeveloperMarius commented on #538
Sry,
my fault, yours is the latest. I will try using you version.

[2021-04-28 07:58] DeveloperMarius commented on #538
Hey,
yes, I can reproduce this error and it is not only with Class Hint but with every route. I will look more into it.

~ Marius

[2021-04-28 08:03] skipperbent commented on #538
Nice to see you @DeveloperMarius!

There was a problem with the class hint after our php 8+ `call_user_func_array` changes. The class was never initiated, but called directly.

I will release a fix shortly.

[2021-04-28 08:05] DeveloperMarius commented on #538
Ah, nice. Didn't know that the array of class instance and method is a callable.
Good work!

[2021-04-28 08:08] skipperbent commented on #538
Yeah, It's kinda weird to be honest 😄

[2021-04-28 08:12] DeveloperMarius commented on #538
When you look at it again, now it is clear to me. `call_user_func_array` requires a callable and we provide in `loadClassMethod` an array of class and method. So it have to be a callable. But yes, weird^^

[2021-04-28 08:18] DeveloperMarius commented on #538
@Carsak version [4.3.2.3](https://github.com/skipperbent/simple-php-router/releases/tag/4.3.2.3) fixes the error. Again thank you for reporting this issue.

~ Marius

[2021-04-28 08:18] skipperbent commented on #538
`route.php` line 76 is especially weird. At this point the `$callback` is an array `['class::name', 'methodName']` - yet still is passes the `is_callable` check.

[code]

@Carsak The issue has been resolved in version 4.3.2.3.

[2021-04-28 08:57] DeveloperMarius commented on #538
It's kind of an aggressive to change this behaviour in PHP 7.4.
All my tests returned true:
[code]
But I mean it's logic that this is a callable when the array is included in the [callable type](https://www.php.net/manual/de/language.types.callable.php).
I think you can close this issue now.

[2021-04-28 09:10] skipperbent commented on #538
@DeveloperMarius Think the majority without reading the documentation will think that `is_callable` will check if a variable is a function (hence callable). I guess the correct way for checking for a function is `($variable instanceof \Closure)`.

[2021-04-28 09:17] DeveloperMarius commented on #538
Yes, you are right. I mean I didn't know this eather until I read the documentation today.
Your check is better yes, but when you are checking for a function before calling `call_user_func_array`, `is_callable` is the right way to do this.

[2021-04-28 12:02] Carsak commented on #538
Downloaded new version 4.3.2.3.
Tested with `SimpleRouter::post('/todo/add/', [\App\Controller\TodoController::class, 'add']);`

Message about "deprecate" disappeared

[2021-04-28 12:02] #538 closed

[2021-05-03 15:28] filiptronicek opened #546 "Getting a 302 on a route"
I have a route, that is set up like this:

[code]
The problem is, that every time I visit this route I get a 302 to the same path, which means I get a redirection error.
![image](https://user-images.githubusercontent.com/29888641/116896406-81bf3200-ac34-11eb-979a-ee774f509264.png)

This has to be done by the router because I don't set the status code anywhere in the file, I only set codes 200, 401

[2021-05-03 15:38] skipperbent commented on #546
The router doesn't redirect unless you have rewrite-urls or middlewares that interferes and changes the request. But there's no where it uses http-code `302`. The default http-code for the redirect is `301`.

- What version of the router are you using?
- What webserver are you using, php version etc?
- What's the content's of `admin.php` - does it load if you die inside the function?

You can use

[2021-05-03 15:40] skipperbent commented on #546
More info here:
https://github.com/skipperbent/simple-php-router#debugging

[2021-05-03 16:18] filiptronicek commented on #546
Hi, I'm using version 4.3.3.0 of the router, which should be the latest one. This is happening on both Apache with PHP 7.4 as well as Apache with PHP 8.0 (both on Ubuntu).

[2021-05-03 16:21] filiptronicek commented on #546
Ok, sorry to raise this issue because of such a dumb problem, I figured it was a problem in my code, where I am catching all 5 letter routes (I suppose I will need to implement that in the error logic)... thanks for the help!

[2021-05-03 16:21] #546 closed

[2021-05-07 14:56] skipperbent commented on #546
That can happen to the best. I'm glad you got it working, that's what matters.

Have a nice day :)

/ Simon

[2021-05-17 01:25] davidribeiro05 opened #547 "Send form data and receive it as a parameter in the controller"
Hello, is it possible to send the form data and receive it via the controller parameter?

My Route is like this:
`Router::post('/pessoa/criar', 'Pessoa@criar')->name('criar_pessoa');`

And my controller:
[    public function criar()
    {
    }](url)

Sorry for my bad English, I'm Brazilian. Thanks

[2021-05-17 08:17] skipperbent commented on #547
That's no possible as the parameters is only for the route itself. However you could add this behavior by adding a custom ClassLoader and injecting `input->all()` when loading the method (see documentation for ClassLoader).

The intended behavior is to use the `InputHandler` for this exact purpose within your controller, for example: `input('form_element')` - or `input()->all(['element1', 'element

[2021-05-17 11:26] davidribeiro05 commented on #547
Okay, I am going to try.

[2021-05-18 00:44] skipperbent commented on #547
Good luck. If you have any further questions feel free to reopen or create another issue.

/ Simon

[2021-05-18 00:44] #547 closed

[2021-05-19 00:48] kztneda commented on #238
Hello.

IDK what I'm doing wrong but I can't get the error handling working well. I've placed all the routes as simple as possible to try the error get working but I can't. The normal routes work well just the error handling don't.

Here is my Routes file.
[code]

here is what I have on "Controls/Error.php"
[code]

I always get this error instead of the error handle response I want:
`Fatal error:

[2021-05-19 00:53] kztneda opened #551 "Route::error not working"
Hello.

IDK what I'm doing wrong but I can't get the error handling working well. I've placed all the routes as simple as possible to try the error get working but I can't. The normal routes work well just the error handling don't.

Here is my Routes file.
[code]

here is what I have on "Controls/Error.php"
[code]

I always get this error instead of the error handle response I want:
`Fatal error:

[2021-05-19 02:30] skipperbent commented on #551
Hi.

Thanks for the detailed issue. I understand the confusion as everything looks great. Did some digging and it looks like there's an issue with the `Router::error` helper when called from inside a group.

I will add an update that solves this issue momentarily and keep you notified once it's available.

/ Simon

[2021-05-19 02:46] skipperbent commented on #551
Hi @kztneda.

I've provided a fix for the issue in version 4.3.4.1.

Thanks for taking the time to report the issue.
Feel free to reopen or create another issue if you have any questions, comments or problems.

/ Simon

[2021-05-19 02:46] #551 closed

[2021-05-19 03:03] kztneda commented on #551
oh, now I get this error

`Fatal error: Uncaught TypeError: Router::Generales\{closure}(): Argument #1 ($request) must be of type Generales\Request, Pecee\Http\Request given in **MAIN PATH**\assets\php\Routes.php:26 Stack trace: #0 [internal function]: Router::Generales\{closure}(Object(Pecee\Http\Request), Object(Pecee\SimpleRouter\Exceptions\NotFoundHttpException)) #1 **PATH TO LIB**\vendor\pece

[2021-05-19 03:09] skipperbent commented on #551
Make sure to import the Request class from simple-router or use the full class name otherwise php will get confused.

[code]

[2021-05-19 17:27] kztneda commented on #551
Hello @SimonSchobel, I actually did but it still shows the first error message.

`Fatal error: Uncaught Pecee\SimpleRouter\Exceptions\NotFoundHttpException: Route not found: "/asd/asd/s/" in **PATH TO LIB**\vendor\pecee\simple-router\src\Pecee\SimpleRouter\Router.php:450 Stack trace: #0 **PATH TO LIB**\vendor\pecee\simple-router\src\Pecee\SimpleRouter\Router.php(339): Pecee\SimpleRouter\Router->ro

[2021-05-19 18:16] skipperbent commented on #551
That's strange. I think the problem is that the exception is added within a group still.

Try one of these things and see if they help, it will help me pinpoint the error:

- Try different prefixes for the group where you call ::error and see if that renders the exception. Try prefix = '', prefix ='/' instead of prefix = null.

- Try moving error:: to the beginning of the group and see if that ren

[2021-05-19 18:39] skipperbent commented on #551
The unit-test below works.

[code]

What does your `SimpleRouter::error` (SimpleRouter line 426-435) function look like?

Can you try to replace `parent::start()` with the code below and paste the output here?

[code]

[2021-05-19 18:55] kztneda commented on #551
Hi I've tried the path change, and the relocation for the Route but didn't worked.

About the `SimpleRouter::error` is this
[code]

the output of the debug is this:
[code]

[2021-05-19 19:10] skipperbent commented on #551
Thanks for the debug info!

Looks like the group is rendered correctly. So that's all good.

Try moving the call to `::error` above `parent::render();` and see if it triggers the exceptionhandler.

[2021-05-19 19:40] kztneda commented on #551
`parent::render()` ? I guess you mean `parent::start()`.

If so, I did but the same.

I think I'll handle the errors with the .htaccess file.

[2021-05-19 19:45] skipperbent commented on #551
Yes, I'm sorry for the confusion.

I'm creating a patch for the issue as we speak.
I would applicate if you could test if it works if you move the line out of the group.

Thanks.

/ Simon

[2021-05-19 20:08] skipperbent commented on #551
Please check if the issue has been resolved in version 4.3.4.2.

Thanks.

/ Simon

[2021-06-09 01:28] MrPresidentWhite opened #561 "Nedd help with Class hitting"
Hi, i'm always get this error below:

`Fatal error: Uncaught Pecee\SimpleRouter\Exceptions\ClassNotFoundHttpException: Class "\App\Controllers\App\Controllers\ServiceController" does not exist in /data/wwwroot/vendor/pecee/simple-router/src/Pecee/SimpleRouter/ClassLoader/ClassLoader.php:19 Stack trace: #0 /data/wwwroot/vendor/pecee/simple-router/src/Pecee/SimpleRouter/Route/Route.php(95): Pecee\Si

[2021-06-09 01:31] skipperbent commented on #561
Methods in the controller should not be static. Try changing that and see if the router can find the method.

[2021-06-09 01:38] MrPresidentWhite commented on #561
Many thanks for the quick response. I'll try tomorrow. It's 3:30 in the morning and I should get some sleep. I'll be in touch as soon as I've tried it.

[2021-06-09 01:46] skipperbent commented on #561
No problem - happy to help. By the error it does sound like there's a problem with the default-namespace in the router.

`Class "\App\Controllers\App\Controllers\ServiceController" does not exist`

Looks like it's appending the namespace where it's not necessary.

Please let me know if the route works without class hinting like so:

[code]

If above works, then it's a problem with class hinting +

[2021-06-09 12:07] MrPresidentWhite commented on #561
hello, i have done all changes like you said and this error continues
![Screenshot_895](https://user-images.githubusercontent.com/38688739/121351416-0dab3480-c92c-11eb-9623-0fa840aa5550.png)

[2021-06-09 14:12] skipperbent commented on #561
Can you try to update to the latest version 4.3.6.0?

**Routes.php**
[code]

**Controller:**
[code]

If the error persists, you'll have to provide some debug-info for me to make it easier to debug:

https://github.com/skipperbent/simple-php-router#debug-information

Hope it helps.

/ Simon

[2021-06-09 14:43] MrPresidentWhite commented on #561
this are the debug infos from the example debug code

`array ( 'url' => Pecee\Http\Url::__set_state(array( 'originalUrl' => '/services', 'scheme' => 'https', 'host' => 'api.weber-motors.com', 'port' => NULL, 'username' => NULL, 'password' => NULL, 'path' => '/services/', 'params' => array ( ), 'fragment' => NULL, )), 'method' => 'get', 'host' => 'api.weber-motors.com', 'loaded_routes' => array ( 0

[2021-06-09 14:59] skipperbent commented on #561
Please do `composer upgrade` to update to latest version.

Thanks for the debug-info.

Sorry for the typo, the correct method name is `SimpleRouter::setDefaultNamespace`.

- Does it work when upgrading?
- Does it work if you skip `setDefaultNamespace` and use the full namespace in the route instead? `Router::get('/member', '\Project\Controllers\MemberController@home');`
- Does the demo project wor

[2021-06-09 15:19] MrPresidentWhite commented on #561
this is what i get from the demo project:

`Fatal error: Uncaught Error: Class 'Demo\Router' not found in /data/wwwroot/public/index.php:9 Stack trace: #0 {main} thrown in /data/wwwroot/public/index.php on line 9`

[2021-06-09 15:23] skipperbent commented on #561
When you clone the project you have to do a composer install otherwise all the dependencies won't be there.

[2021-06-09 15:25] skipperbent commented on #561
If you cannot load Demo\Router then there's a problem with the composer autoload, most likely because it's hasn't been initialized.

[2021-06-09 15:39] MrPresidentWhite commented on #561
if i go to the provided pages in the demo there always comes the error "File not found" or "Page not found"

[2021-06-09 15:45] skipperbent commented on #561
Try going to /contact or any of the other routes defined in the routes.php.

You are loading the error handler, so that's something.

Are you using the site on its own host like local.demo.com/contact?

What version of php are you using?

[2021-06-09 15:47] MrPresidentWhite commented on #561
i am using the latest image of this docker container here https://hub.docker.com/r/skiychan/nginx-php7 an this is on my webserver with a subdomain

[2021-06-09 15:49] skipperbent commented on #561
Php version is 7.4.19 as far as I can see.. that's strange why it won't load any classes.

I will try to download the container and see if I can recreate the issue

[2021-06-09 16:33] skipperbent commented on #561
Hi again.

Just tested the container with the simple-router-demo and it works perfectly.

![2021-06-09_18-30-33](https://user-images.githubusercontent.com/634762/121393848-09ddd900-c951-11eb-9181-40e9124948ed.png)
![2021-06-09_18-30-20](https://user-images.githubusercontent.com/634762/121393861-0cd8c980-c951-11eb-87b1-f6c0dd394745.png)
![2021-06-09_18-31-39](https://user-images.githubusercontent.c

[2021-06-09 17:19] MrPresidentWhite commented on #561
Now it finally works after changing the nginx root directory. Thank you very much for your help.

[2021-06-09 17:28] skipperbent commented on #561
Nice! I'm glad you finally got it working. Feel free to open another ticket if you encounter any other issues or have questions regarding the project.

/ Simon

[2021-06-09 17:28] #561 closed

[2021-06-13 10:53] AlexanderSchaller opened #565 "setDefaultNamespace doesn't seem to be setting"
Apologies in advance if I am just being stupid and missing something... I upgraded to the newest release, and my class hinting broke (I was using the group method previously).

When I try to set it via ::setDefaultNamespace it doesn't make a difference.

`SimpleRouter::setDefaultNamespace('\app\controllers');`

If I add the namespace to the method directly then it still works.
`SimpleRouter::get('

[2021-06-13 11:00] skipperbent commented on #565
Please post the error you receive when navigating to `/` and the contents of your routes.php.

Also debug info would be helpful to see what routes the router has loaded.

https://github.com/skipperbent/simple-php-router#debug-information

[2021-06-13 11:03] skipperbent commented on #565
setDefaultNamespace will not overwrite the namespace when using the class hint syntax `[controller::class, 'method']` as it most likely already has the full namespace. You'll have to use the 'Controller@method' syntax instead for the namespace to be inherited.

[2021-06-13 11:18] AlexanderSchaller commented on #565
Error:
`Class "IndexController" does not exist`

A sample of the routes.php

`use Pecee\SimpleRouter\SimpleRouter;

SimpleRouter::setDefaultNamespace('\app\controllers');

SimpleRouter::csrfVerifier(new \app\core\middlewares\CsrfVerifier());

SimpleRouter::group(['exceptionHandler' => \app\core\handlers\CustomExceptionHandler::class], function () {

    SimpleRouter::get('/rimg/{code}.png', [Image

[2021-06-13 11:27] skipperbent commented on #565
The debug doesn't contain any routes. Only thing I can see is that you added the csrfverifier. `all_routes` is empty.

Does it work if you place a route in the root (same place as where you call setCsrfVerifier)?

[2021-06-13 11:32] AlexanderSchaller commented on #565
I get the same issue.  Here is the debug info

`array ( 'url' => Pecee\Http\Url::__set_state(array( 'originalUrl' => '/', 'scheme' => NULL, 'host' => 'finaloutpost.local', 'port' => NULL, 'username' => NULL, 'password' => NULL, 'path' => NULL, 'params' => array ( ), 'fragment' => NULL, )), 'method' => 'get', 'host' => 'finaloutpost.local', 'loaded_routes' => array ( 0 => Pecee\SimpleRouter\Route\R

[2021-06-13 11:39] skipperbent commented on #565
I can see the route in the debug info you just posted. So the router can see the route. But it doesn't see all your other routes/groups

[2021-06-13 11:50] AlexanderSchaller commented on #565
The route is there but I still get the "class not found" error.  Is there a change in the update that would hide the other stuff?

[2021-06-13 11:54] skipperbent commented on #565
No, it should see all or routes - regardless of whether they match the url or not. Especially the groups as they're always rendered.

What error do you get when navigation to the /. Also you need to use the syntax (string)'IndexController@index'

If you can give me access to your project i can try to see if I can locate the error

[2021-06-13 11:59] AlexanderSchaller commented on #565
I get the error `Call to a member function getUrlCopy() on null`.

I can add you to the project repository... is it okay if I email you directly as it is a private project?

[2021-06-13 12:01] skipperbent commented on #565
That's great. It means the route is loaded but some other error occured. Yes feel free to email me :)

[2021-06-13 15:06] #565 closed

[2021-06-13 23:21] skipperbent commented on #565
For anyone reading this in the future scratching their alien grey head, the issue was caused by the `routes.php` using class hinting while not providing the full path for the classes. `SimpleRouter::setDefaultNamespace` namespaces are NOT appended when using class hinting, as the full class name is expected.

[code]

To load a controller without knowing the namespace, use the simple method instead

[2021-06-15 07:00] ericmackrodt opened #566 "Get trailing path of catch-all route."
Hello,

I've been using Simple PHP router for the last week and I'm really liking it, but I have an issue with catch-all routes.
My last route is supposed to get anything that falls on it because I load the information from markdown files.
The issues is that, using the regex in the route, I can match the route but I can't get the path from that route.

This is what my route looks like:

[code]

If

[2021-06-15 07:33] skipperbent commented on #566
Thanks, I'm glad you like the project and can find it useful, that's what's matters.

You're doing it right, it sounds like the router has issues with catching that parameter in your regex.

Can you try to wrap the route in a group like so to see if the parameter is found?

[code]

Obviously the above is not ideal, but it will help me see debug if the issue is caused by the defaultParametersRegex

[2021-06-15 07:53] skipperbent commented on #566
[code]

Got it working like this. But i'll investigate why it's not working as intended. But the above should help you for now.

[2021-06-15 08:18] skipperbent commented on #566
Hi @ericmackrodt .

I've made a patch for the issue and it's available if you upgrade to version Version 4.3.6.1.

Let me know if it resolves the issue. Thanks!

Have a nice day!

/ skipperbent

[2021-06-15 13:29] ericmackrodt commented on #566
Hi @skipperbent
It seems to be working!
But the `setMatch` method seems like it was removed from the IRoute interface.
Other than that, it's working great!

[2021-06-15 14:44] skipperbent commented on #566
I'm glad to hear it's working again!

You can find the `setMatch` on the `ILoadableRoute` interface. `IRoute` is for all routes including the ones that are not loaded like groups. `ILoadableRoute` and the `LoadableRoute` class is the interface that contains the `setMatch` functionality.

[2021-06-15 23:11] major200322 opened #570 "Make root to controller how has a dependency injection?"
Hi :)

first of all, I would like to thank all who contribute to this project :+1:

So need to create Root to the controller how has dependency injection

`SimpleRouter::get('/blogs', [IndexController::class, 'showBlog']);`

`    /**
     * indexController constructor.
     */
    public function __construct(PostsService $postService)`

  obviously, I didn't find any example

[2021-06-15 23:14] #566 closed

[2021-06-15 23:20] skipperbent commented on #570
Hi.

I'm glad you like the project! It warms my cold little heart that someone out there in other dark basements find it useful :)

Not sure I understand the question correctly, so forgive if I'm misunderstanding - but it sounds like you want to integrate some kind of dependency injection.

You'll have to setup the dependency injection yourself based on whatever framework you're using.

**Take a l

[2021-06-15 23:49] major200322 commented on #570
Ok, I will try this :) thank you for your help

[2021-06-15 23:49] #570 closed

[2021-06-16 01:11] skipperbent commented on #570
@major200322 No problem - I'm happy to help.

Good luck!

/ skipperbent

[2021-06-17 07:19] MichaelKheel opened #571 "TooManyRequestsException"
Hello, I have a lot of users connecting from one IP and the trotting system constantly blocks all of them. (\Delight\Auth\TooManyRequestsException)

1) Is it possible to whitelist ip for throttling so that the system does not respond to them?
2) Can I change the blocking time?
3) Can I track the time to unlock?

[2021-06-17 09:13] skipperbent commented on #571
You can do that pretty easily with a custom middleware.

- 1. Store/merge the users IP along with the time of the request in an array on the `$request` parameter. For example something like:
[code]

- 2. Loop through all IP in your users list and remove all entries where time > your blocking time.

- 3. If users IP is in the list 1 or more times throw your `TooManyRequestsException`. Otherwise do

[2021-06-17 09:49] MichaelKheel commented on #571
very sorry, I created an issue in the wrong repository. But I am very surprised that we were able to partially answer it, thanks :)

[2021-06-17 09:49] #571 closed

[2021-06-17 09:51] skipperbent commented on #571
That's what happens. Well maybe someone out there can find the answer helpful, who knows. Good luck with your issue and have a nice day!

/ skipperbent

[2021-07-13 23:37] Venloress opened #572 "Is there an ajax request method?"
I'm wondering if there is an ajax request method.
or how can i do it myself... ?

[2021-07-14 03:57] HariharanUmapathi commented on #572
1. You don't need ajax request method

2.create a ajax handler function in your project

Make call that function add a route to trigger that function

//Ajax get handler

SimpleRouter::get("/ajax/controller/{resource}",function (){
require_once "my_ajax_controller.php";
ajax_controller(resource);
}

[2021-07-15 02:50] skipperbent commented on #572
Hi. Ajax can have multiple request-methods: `GET`, `POST`, `PUT` etc. You'll have to create the routes yourself (see the documentation).

You can check if the current request is Ajax by using `request()->isAjax`.

[2021-07-16 17:29] Venloress opened #573 "Custom error handler"
Hi there, i couldn't do custom error handling.
eg 403.... An example is given for 404 but I don't fully understand.

[2021-07-16 17:31] Venloress opened #574 "Set custom error page for groups"
I want to show custom 404 page for few groups. How can i do that?

[2021-07-16 20:10] skipperbent commented on #574
Hi, please keep your question to one issue.

I'll try to answer your question to best of my abilities on the ticket here: #573.

/ skipperbent

[2021-07-16 20:10] #574 closed

[2021-07-16 20:19] skipperbent commented on #573
Please read this part of the documentation:

https://github.com/skipperbent/simple-php-router#using-custom-exception-handlers.

Heres a simple example of how to catch 403 for ALL routes. If you want customize the way exceptions are handled for each of your routes, please take a look at the custom exception handler class.

Here's a very basic example. In the example below the routes `/not-found` an

[2021-07-16 20:19] #572 closed

[2021-07-17 06:43] Venloress commented on #573
Thanks, so how can i set group specific error page.

[2021-07-17 12:57] skipperbent commented on #573
Hi again,

Create your custom exception handler class and add it to your group like so:

[code]

/ skipperbent

[2021-07-17 17:29] Venloress commented on #573
Does not work well in groups within group.

[2021-07-17 19:49] skipperbent commented on #573
By default the router will merge any `exceptionHandler` classes with ones inherited from parent groups.

I've created a patch that adds a settings-attribute that will prevent this feature and ignore any inherited handlers.

I will notify you once the new version is released.

[2021-07-17 20:06] skipperbent commented on #573
If you update to the latest version 4.3.7.1 - there's a new group attribute (`'mergeExceptionHandlers' => false`) that will prevent the router from rendering any inherited handlers - which will *hopefully* resolve your issue:

https://github.com/skipperbent/simple-php-router#prevent-merge-of-parent-exception-handlers

**Example:**

[code]

Let me know if it fixes your issue.

/skipperbent

[2021-07-17 23:16] Venloress commented on #573
Yes, this works. But when I use it as `/adminsasd` it still sends it to the admin error.
/adminsasd => `custom 404`

must be;
/adminsasd => `default 404`
/admin/sadas =>  `custom 404`

Also thanks for the new feature. Other than that everything is very nice

[2021-07-17 23:40] skipperbent commented on #573
@Venloress Happy to hear you got it working.

Seems like the `/adminsasd` triggering `/admin/` group-prefix is an unrelated issue. I'm creating a patch to resolve the issue that will be available shortly.

[2021-07-17 23:48] skipperbent commented on #573
Please check to see if version 4.3.7.2 has resolved the issue with `/adminsasd` triggering your `/admin` prefix.

Thanks!

/skipperbent

[2021-07-18 07:32] Venloress commented on #573
So beautiful now. Thank you for your interest

[2021-07-18 19:32] skipperbent commented on #573
I'm glad you got it working!

Thanks for taking the time to report the issues. If you need any further assistance feel free to create a new ticket.

/skipperbent

[2021-07-18 19:32] #573 closed

[2021-07-19 17:16] Venloress opened #585 "Catching javascript fetch request"
I am sending data with javascript fetch. How can I capture this on the router?
Is there a function like Request()->isAjax() ?

[2021-07-19 19:34] DeveloperMarius commented on #585
Hey,

why do you only want to catch js requests?
You can catch a request using a normal route and then check is it is an ajax request `request()->isAjax()`. If not, you can return an error.

~ Marius

[2021-07-19 19:49] Venloress commented on #585
i already do that. but request()->getHeader('http-x-requested-with') returns empty

my codes;
php
[code]
javascript
[code]

[2021-07-19 19:55] DeveloperMarius commented on #585
Okay.
Have you tried to get the header `requested-with` or `x-requested-with`?
Are they empty too?
Sometimes this is a bit wired^^
It this doesn't work maby print all headers received by the request and look over them manually.

~ Marius

[2021-07-19 20:04] Venloress commented on #585
ohh ok, i edited my javascript code and found the right path. Thank you for taking care of my problem.
thanks to you...

solution =>`headers: { 'X-Requested-With': 'XMLHttpRequest' }`
[code]

[2021-07-19 20:06] #585 closed

[2021-07-31 17:48] bertvandepoel opened #586 "Suggest using FallbackResource from mod_dir instead of existence checks with mod_rewrite"
With the introduction of https://httpd.apache.org/docs/trunk/mod/mod_dir.html#fallbackresource , many have now moved away from the popular mod_rewrite solution to map non-existent files/folders onto something like index.php, towards using FallbackResource. I find it also much more readable and simple. It can also prevent having to enable the rewrite module, which is one of the modules that cause t

[2021-07-31 19:23] skipperbent commented on #586
Hi Bert.

Thanks for the great suggestion. Personally I haven't used Apache for a long time, so haven't kept up with all the latest developments on that front however thanks to users like yourself there's instructions for many different web-servers.

If you wouldn't mind, please feel free to share the new behaviors - maybe it can be helpful for those out there that just want to get their project u

[2021-08-18 00:17] devsrealm opened #587 "Any Simple Way of Checking if URL exist?"
When using the getUrl method it returns whatever is in the name parameter even if the URL doesn't exist, it would be cool to have a method that can check if the route alias exists.

[2021-08-18 03:00] skipperbent commented on #587
Thanks man, I'm glad you find it useful.

Good point, might change the behavior for getUrl not sure why it always returns a value to be honest.

Take a look at the findRoute method (i think the method called). The Router class does have functions to find a route based on a url that you can use. Can't remember if the method is public or not though, but in that case I'll provide a patch so you don't

[2021-08-18 04:24] devsrealm commented on #587
Okay, thanks. If you care, this is the culprit:

https://github.com/skipperbent/simple-php-router/blob/749f252ffba98955311235cc2befc8ab742a151c/src/Pecee/SimpleRouter/Router.php#L726-L733

You are assuming at that point, `Will the sun rise tomorrow? It probably will, but we are not sure it will.` 😃

I pray it does though, lol. Thanks, appreciate you took your time to reply, it's hard for open-sour

[2021-08-18 12:46] skipperbent commented on #587
Haha you're right - i hope so too! Wonder what thoughts went into those lines of code - can't figure out why you would ever use `url` with a hardcoded url.. maybe as a shortcut to create a Url object? I've see no problem in removing it though.

Seems like a spoke to fast. The `findUrl` must have been something i dreamt off, because it doesn't seem to exist in the class.

However I'll add it in a f

[2021-08-18 13:04] skipperbent commented on #587
Okay I think I've uncovered the madness behind the code.

The reason it always returns a url object is so that you avoid having to constantly check if url() is null.

However maybe a nicer solution would be to instead return some kind of UrlEmpty object that extends the Url object so you have a better way of identifying if the url exists or not.

[2021-08-18 13:49] devsrealm commented on #587
Yh, something like that would work too. Thinking about it, I think your last proposal is the right way to go, it would make for more granular checking.

[2021-08-31 13:16] mauroagr opened #588 "Error 404 and Status Code in Browser Header"
Hi,
I am try to  create pages for 404 like the example below.
[code]
They working fine, show the 404 code....when add the code, load page.
But, the status code in browser headers , stay return 200 and not 404.
How i can set the specific header for browser?
Thanks
Mauro

[2021-08-31 14:20] skipperbent commented on #588
Check the Response object.

`response()->httpCode(404)`

Something like that

[2021-09-01 01:16] mauroagr commented on #588
I test using this code.
[code]
The content from error 404 page are loading right, but the header stay returning 200, showing in test below.

![image](https://user-images.githubusercontent.com/5348884/131595788-ab053a35-9ab0-4efb-9b5a-39aa396b67f1.png)

Thanks
Mauro

[2021-09-01 02:21] skipperbent commented on #588
You need to specify the http code manually using the code below in your switch statement

`response()->httpCode(404)`

[2021-09-01 11:14] mauroagr commented on #588
Hi,
Solved.
I was putting in wrong place.
[code]

[2021-09-01 11:15] #588 closed

[2021-09-20 20:14] SrCrowlley opened #590 "Named Routes Method"
Shouldn't the IRoute interface have the setName/name method?

[2021-09-22 12:04] DeveloperMarius opened #591 "Allow "/" in route url"
Hello,

in my route a parameter can contain an forward slash. How can I tell the router not to handle the slash as a new parameter?
I tried a custom RegEx for the parameter but that didn't work.
I also currently encode the parameter using `urlencode()` and also tried `rawurlencode()`.

~ Marius

[2021-09-26 03:15] addbot opened #593 "depracated 2nd parameter in json_encode"
<img width="796" alt="Screenshot 2021-09-26 at 10 34 27 AM" src="https://user-images.githubusercontent.com/450776/134792100-c1773031-3f79-41cd-bdb3-34e21517c05d.png">

i have submitted a pull request

[2021-10-14 11:10] SunflowerFuchs opened #595 "Group with optional parameter in prefix not matching"
A group with the prefix `'/{required}/{optional?}'` never matches, since the parameter replace in RouteGroup::matchRoute() only replaces required parameters.
https://github.com/skipperbent/simple-php-router/blob/749f252ffba98955311235cc2befc8ab742a151c/src/Pecee/SimpleRouter/Route/RouteGroup.php#L77

[2021-10-14 15:52] m0hanraj opened #596 "Class hinting a class with constructor"
Is there a way to class hint a class with constructor or pass an object instance?

[2021-10-18 17:48] xJuvi opened #597 "Uncaught TokenMismatchException - How to catch it?"
Hi,
I am currently trying to integrate the router into my existing system that is getting on in years. Unfortunately, I am currently failing to intercept the CSRF TokenMismatchException.

Neither the exception handler nor the extended classes intercept the exception. Do you have an idea how I can get the exception and process it myself? I am currently getting the following error message:

I would

[2021-11-02 20:33] xJuvi opened #598 "Passing unique route identifier to middleware - How?"
Hi @skipperbent

in issue #454  you said:

Within the Permission middleware i would then check if the users has access to the route by mapping the route to the permission name (/news/{id}/edit to can_edit_news etc) and then checking if the user has that permission.
If the user does not have access I would then throw a 401 exception within the middleware and have a custom exception-handler that cat

[2021-11-25 13:15] vrgblzs opened #599 "raw php input - not json but begins with { character"
If I POST a raw stream that is not a json, but begins with a { character I got (v4.3.7.2):

PHP Fatal error:  Uncaught Error: Unsupported operand types in vendor/pecee/simple-router/src/Pecee/Http/Input/InputHandler.php:83

Found the bug in InputHandler.php @ row 82:
if ($post !== false)
should be
if ($post !== null)
as json_decode gives null (not false) if the string is not a valid json.

Thank y

[2021-11-30 01:48] testt23 opened #600 "Multi lang hintting"
Hi, thanks for this brilliant packet!

But.. I have a one small problem. What I want to make?
If someone people is visit my site: www.site.com is the look for default language: English..but if is want to change to France... How is the short version for this?
[code]

I make this.
site.com/ and site.com/en => is default
site.com/fr/ => France language

the small problem is that the way i do it is ..

[2021-12-07 07:21] kilmerbit opened #601 "path /"
Hallo ? I have a problem like the following

Fatal error: Uncaught Pecee\SimpleRouter\Exceptions\NotFoundHttpException: Route not found: "/aaa/" in E:\xampp\htdocs\aaa\vendor\pecee\simple-router\src\Pecee\SimpleRouter\Router.php:454 Stack trace: #0 E:\xampp\htdocs\aaa\vendor\pecee\simple-router\src\Pecee\SimpleRouter\Router.php(343): Pecee\SimpleRouter\Router->routeRequest() #1 E:\xampp\htdocs\aaa

[2021-12-08 06:35] parkerj commented on #601
You can set a base path for all your routes without adding it to every route. Check out the section, [Setting custom base path](https://github.com/skipperbent/simple-php-router#setting-custom-base-path).

[2021-12-12 10:31] xJuvi commented on #454
Hi @JesseHendriks
how did u solve this problem? I can't access the unparsed url in the middleware and can't found a way to get an unique item for ever route.

Kind regards

[2021-12-12 12:49] JesseHendriks commented on #454
@xJuvi sorry I'm not using the package anymore (using Laravel now).

[2021-12-15 06:07] riku22 opened #602 "About matching with regular expressions"
Hello.

I created a routing like the one below, but it doesn't work.
What should I do now?

[code]

I'm expecting it to work with a URL like `/api/test/v1/abc`, but I get a 404 error.
I would appreciate any advice.

[2021-12-21 22:23] xJuvi commented on #602
Did u try to remove the v in the api_version?

[2021-12-22 22:41] riku22 commented on #602
Hello.

In the end, I decided to remove the leading "v" in the function and use it.

[code]

Thank you.

[2021-12-22 22:41] #602 closed

[2021-12-30 08:43] CyrilleSaga opened #603 "Récupère les données d'un formulaire en POST"
Je ne parviens pas à récupérer les sonné de mon formulaire envoyer en POST au niveau de mon controller j'ai une erreur lorsque je soumet mon formulaire.

Fatal Error. ArgumentCountError. Too few argument to function App/Controller/... 0 passed and exactly 1 expexted in

Dans ma fonction de j'ai fait
public function myFunction(Request $request) {}

Mais je ça ne passe toujours pas !
Aider moi svp

[2021-12-31 02:59] #601 closed

[2022-01-02 14:09] xJuvi commented on #598
I found a very bad solution. For a smarter and faster way a PR #604 is created.

I need to access the $route variable which will be processed in the Router::routeRequest() function. In the function the library checks if the currect route is matched one of the processed routes and if true will execute the middleware and callback. With some code snippts from the Router::routeRequest() i'll get acces

[2022-01-08 08:55] xJuvi commented on #598
Hi there,

i found a better solution. With the Event "EVENT_RENDER_MIDDLEWARES" i can add the $router arguments to a new variable. So i add the routers route name to a globalized variable an pass this to the middleware.

[code]

With PR #604 it will be the kings class solution so i'm wait for merging.

Regards

[2022-01-08 08:55] #598 closed

[2022-01-27 21:24] AlexanderSchaller opened #605 "Breaking in php 8.1"
Using this in php 8.1 throws an error when attempting to use the Router::router->getUrl() function.

[code]

If you need any additional information let me know.

[2022-01-31 05:11] riku22 opened #606 "About setRewriteCallback"
Hello.

I am using `throw new NotFoundHttpException();` within each route to raise an exception.
However, I am having trouble with the `Page not found` string not being output even though I have set `setRewriteCallback`.
I have created a code to reproduce this based on the demo project.
Can you tell me what the cause is?
The reproduction method is as follows.

1. Set up a demo project.  ```
  git

[2022-02-01 23:15] DeveloperMarius commented on #605
Hello,
could you provide me with the lines of code where you are using this function and the full error including the Trace (File names and lines)?

~ Marius

[2022-02-01 23:18] DeveloperMarius commented on #603
Hello,
could you please edit your issue and translate it into english?
After that I am happy to help you^^

~ Marius

[2022-02-01 23:25] DeveloperMarius commented on #599
Hello,

thank you for the report.
I created the PR #608 to fix your issue.
Now we have to wait for @skipperbent to merge it into the master branch.

~ Marius

[2022-02-01 23:33] DeveloperMarius commented on #597
Hello,

I recommend creating your own ExceptionHandler:
[code]

you can include it into the Router using a group:
[code]

If you do not have your route in a group, you have to surround your `index.php` with a try catch:
[code]

~ Marius

[2022-02-02 00:05] DeveloperMarius commented on #600
Hello,

my code for that isn't perfect, but here is how I did it.
First I registered three routes:
[code]
OR
[code]
Providing a `RegEx` for `language` using `->where()` I ensure that I still get the language as a parameter.
The `IndexController` then provides the user with the content in the correct language.

In the `RedirectController` you then have to handle a request if no language is provided

[2022-02-02 07:00] vrgblzs commented on #599
Thanks!

[2022-02-02 07:00] #599 closed

[2022-02-02 08:23] DeveloperMarius commented on #596
Hello,
can you please describe your question a bit more detailed? Where do you want to class hint a class?

~ Marius

[2022-02-02 09:01] DeveloperMarius commented on #595
Hello,
optional parameters in group routes are currently not possible.
I personally don't think that this would be a good feature, because it breaks your whole URL structure. But maby you can show me an example where it is usefull to imprement it and I change my oppinion.

~ Marius

[2022-02-02 09:02] DeveloperMarius commented on #593
Hello,

I answerd you in the PR #592.

~ Marius

[2022-02-02 09:06] DeveloperMarius commented on #590
Hello,

why do you need a name in a group? Could you provide an example?

~ Marius

[2022-02-02 10:10] DeveloperMarius commented on #606
Hello,

Thank you for reporting this issue.
I found the issue and created the PR #609.
Now we have to wait for @skipperbent to merge.

~ Marius

[2022-02-02 18:03] DeveloperMarius commented on #586
Hi @bertvandepoel,

are you still interested in creating a PR or should I dive into the Apache topic?

~ Marius

[2022-02-02 19:07] bertvandepoel commented on #586
It's the same to me. Either of us can do it, it's just editing the README I assume, or were there some other docs that need editing too

[2022-02-02 19:14] DeveloperMarius commented on #586
I think you are more into the topic.
You can either write me the content here or create the PR yourself.
Thank you!

~ Marius

[2022-02-06 08:51] xJuvi commented on #597
Hi @DeveloperMarius ,

Thanks for your support.

I have my own exception handler with the same code as yours above. But it doesn't work.

In my tests yesterday i thought maybe PR #609 is the main issue. But then i tried to response the error with the following:

[code]

Same result. I get ever the fatal error "Uncaught TokenMismatchException".

Kind regards

[2022-02-06 10:54] DeveloperMarius commented on #597
Hey,

could you please share your code with us so that I can take a look and reproduce the issue?
I need the exception handler, your controller / route and the code where you start the router (just everything you got associated with the issue).

~ Marius

[2022-02-07 08:32] AlexanderSchaller commented on #605
Sorry for the delay, I am using the helper url function unmodified.  Here is the stack trace

[code]

[2022-02-07 13:18] DeveloperMarius commented on #605
Hello @AlexanderSchaller,

thank you for reporting this issue. I didn't test the router with PHP 8.1, because my environment doesn't support it jet.
I created the PR #610 that is hopefully fixing your issue. Let me know if you run into any other issues using PHP 8.1 in the comments of the PR.

Until @skipperbent is merging the PR into master, you can change the two lines I changed in #610 your loc

[2022-02-08 09:16] AlexanderSchaller commented on #605
Yes that fixes the issue - thanks!

[2022-02-12 22:42] DeveloperMarius commented on #586
Hey @bertvandepoel,

hope you are doing good?
Did you have time to collect the changes that have to be made?

~ Marius

[2022-02-19 17:13] jorge-koki opened #612 "Problema con PHP 8.1.2"
<b>Deprecated</b>:  Return type of Pecee\Http\Input\InputItem::offsetGet($offset) should either be compatible with ArrayAccess::offsetGet(mixed $offset): mixed, or the  #[\ReturnTypeWillChange] attribute should be used to temporarily suppress the notice in  <b>C:\xampp\htdocs\apigastosreales\vendor\pecee\simple-router\src\Pecee\Http\Input\InputItem.php</b> on line <b>84</b><br />

Tal como lo indi

[2022-02-19 17:47] DeveloperMarius commented on #612
Hello,
first it would be great if you can write in english.
We currently cannot add the `#[\ReturnTypeWillChange]` Attribute, because attributes were intoduced in PHP 8 and we are currently compatible with PHP 7.1.
Also we cannot use the union type mixed, bacause that was also intoduced in PHP 8.
Feel free to add the attribute in your code.
Alternativly you can change your code from
[code]
to
[cod

[2022-02-19 17:50] DeveloperMarius commented on #590
Hello,
if you don't need this functionality anymore, please close your issue.

~ Marius

[2022-02-19 17:50] DeveloperMarius commented on #595
Hello,
if you don't need this functionality anymore, please close your issue.

~ Marius

[2022-02-19 17:52] DeveloperMarius commented on #596
Hello,
if you don't need help anymore, please close your issue.

~ Marius

[2022-02-19 17:53] DeveloperMarius commented on #600
Hello,
if you don't need this functionality anymore or my comment helped you, please close your issue.
Thank you.

~ Marius

[2022-02-19 17:56] DeveloperMarius commented on #603
Hello,
i tried to translate your issue, but google translate doesn't translate your text well. I would need more information.
If you don't need help anymore, please close your issue.
Thank you.

~ Marius

[2022-02-19 19:06] #590 closed

[2022-02-26 20:59] Robinjoeh opened #613 "Unable to route to non-ASCII letters?"
My route:
[code]

Yields the following:
[code]

Is there any problem using non-ASCII letters in the router? I tried the same with a group, but unfortunately it is exactly the same result. Is the router correctly decoding the urls?

[2022-03-01 15:02] DeveloperMarius commented on #613
Hey,
I fixed your issue in the PR #614.
Feel free to change the affected code in your vendor files temporary until the PR is merged into the next release.

~ Marius

[2022-03-01 15:04] DeveloperMarius commented on #612
Hello,
did this fix work for you?

~ Marius

[2022-03-01 15:39] Robinjoeh commented on #613
Nicely done. I added `urldecode()` meanwhile to the route, lets see if yours get merged!

[2022-03-01 15:39] #613 closed

[2022-03-15 11:19] SunflowerFuchs commented on #595
Sorry, i forgot to reply.
We solved it differently in our application now, so we don't need this feature.
And you're correct, implementing this would break the URL structure too much, so it's better this way.

[2022-03-15 11:19] #595 closed

[2022-03-25 11:08] riku22 commented on #597
Hello.

I am also trying to catch `TokenMismatchException` exceptions with `CustomExceptionHandler`, but I am having trouble catching them.
I hope you can refer to [catch_token_exception branch] in my repository for sample code for testing.

[catch_token_exception branch]: https://github.com/riku22/simple-router-demo/tree/catch_token_mismatch_exception

[2022-03-25 22:17] smbongtoi85 opened #615 "Double render setRewriteCallback"
`SimpleRouter::error(function(Request $request, \Exception $exception) {

    $request->setRewriteCallback('Backend\HomePageController@notFound');

});`

[2022-03-26 17:05] smbongtoi85 opened #616 "Method not found"
$route->setPrefix('v1');

[2022-03-26 20:45] DeveloperMarius commented on #616
Hey,

please provide the full error message, your controller / callback method and the route definition. We cannot help you without any information. Thanks

~ Marius

[2022-03-29 20:09] DeveloperMarius commented on #615
Hello,

can you please describe your issue/ question more detailed?
Also please provide more of your code and an error message, if one exists.
Thank you!

~ Marius

[2022-04-13 10:58] mozg3000 opened #617 "Disabling multiple route rendering does not work"
I have 3.7 version and which comes from https://repo.packagist.org and there is not SimpleRouter::enableMultiRouteRendering method in the SimpleRouter class. So I can't disable it.

besides, disabling multiple route rendering does not work in returning value way for Controller@method case so.
I have following routes:
`Router::group(['prefix' => 'api'], function () {
    Router::get('/menu', 'MenuC

[2022-04-13 11:14] #617 closed

[2022-04-22 05:09] leggettc18 opened #618 "A "1" ends up in the rendered markup when using this router"
I have a simple PHP site I was modernizing (mostly just to see if I could). I found this routing library that seemed good and I wanted to replace the one I wrote because this one seemed better. However, when I added it in, everything routed correctly, but I got the number "1" appearing in the markup of every page, just before the end of the body tag. When I switched back to my custom router it wen

[2022-05-22 08:57] xJuvi commented on #597
hi,
sorry for late response. I tried the same way like riku22 - but the Custom exception handler doesn't catch it. I get everytime an "uncaught exception" error.

[2022-06-14 18:02] amirandev opened #620 "Can't get full url instead of root/article/33"
**I'm trying to make it show full url (for example: https://site.com/article/33) instead of root/article/33 but the  Router::getUrl() returns an object instead of string and you know...**
[code]

**How can I do that way simple?**
https://site.com/article/33

[2022-06-21 04:07] riku22 commented on #620
Hi.

[code]

How about this?
The point this time is to use `getAbsoluteUrl()`.

[2022-08-29 06:12] esbenboye opened #622 "Inject something between route definition and final return? (Response-middleware)"
Brief elaboration on my use case(s):

When running my unit tests (environment = testing) it would be an advantage if I could return an entire response object from my controller, so I could analyse response headers (e.g. status code) and content.

When running in any other environment I would want my response to just return the rendered html without having to modify all my controller to have an if/